[2017-09-20 17:23] zamhaq opened #1 "Auto scrolling when text overflows"
**Actual behaviour**
When messages overflow the `div` that contains messages then scroll is added, but it does not scrolls automatically.
**Expected behaviour**
Scroll automatically when messages overflow.
![textoverflow](https://user-images.githubusercontent.com/20766601/30657825-6d3915e8-9e56-11e7-9df3-6237b8c91977.png)

[2017-09-20 17:25] zamhaq commented on #1
@mariobehling Do you have to add me as an assignee ? If yes, then please assign this to me. I will be working on this issue.
Thanks.

[2017-09-20 18:25] AliAyub007 commented on #1
@zamhaq Does SUSI Chrome extension get the responses from SUSI API? I just saw that currently, it is sending the hardcoded message.

[2017-09-20 18:28] zamhaq commented on #1
@AliAyub007 No. It is not done yet. I was concentrating on the front end for now. The API is yet to be integrated.

[2017-09-21 04:19] gabru-md commented on #1
I would like to try to solve it!

[2017-09-21 06:41] ms10398 opened #3 "Message should be sent on hitting return key as Susi Chat"
**Actual Behaviour**

We have to explicitly click on Submit for sending the message.

**Expected Behaviour**

It should be automatically sent when we hit return key.

Yes I would like to work on it.

[2017-09-21 07:18] #1 closed

[2017-09-21 09:33] zamhaq opened #4 "Incoroporate chat.susi.ai theme into susi_chromebot"
Currently the susi_chromebot has a very basic look.
![susi](https://user-images.githubusercontent.com/20766601/30688949-23df0a6a-9edd-11e7-8550-965e0362d772.png)
It would be great if it looks something similar to https://chat.susi.ai/.
![chatsusiai](https://user-images.githubusercontent.com/20766601/30689163-cd862aa8-9edd-11e7-8bc9-e7e0d45c7348.png)
The UI improvements would include the following

[2017-09-21 12:13] gabru-md opened #5 "integrating SUSI API"
Integrate `SUSI` in this chromebot using `susi api`.
So that a decent platform can be established for further refurbishments in UI and UX.

I would like to work on this.

[2017-09-21 13:06] S2606 opened #6 "fixing UI bug"
This is basically small bug regarding size of input text by increasing its size.

**Would you want to work on this issue?**
Yes

[2017-09-21 15:35] hpdang opened #10 "Add Travis and Codacy checks"
Please add Travis and Codacy.

[2017-09-21 15:35] gabru-md commented on #10
Claiming!

[2017-09-22 04:36] gabru-md opened #15 "Add permissions to manifest.json"
Add proper permissions to use jquery,  ajax and susi api in chrome extension.

YES I want to work on it.

[2017-09-22 13:00] #4 closed

[2017-09-22 14:02] vaibhavsingh97 opened #17 "Clear all button"
**Current Behaviour:**
There is no option to clear the chats

**Expected Behaviour:**
There should be clear option in the chat

**I want to work on this issue**

[2017-09-22 14:05] gabru-md commented on #17
Re clicking the icon clears the chat as the application re-runs. So i beileve this issue is not needed.

[2017-09-22 15:30] gabru-md opened #19 "add loading animation"
Display a loading animation like chat.susi.ai while message is being generated.

**Yes I would like to work on this**

[2017-09-22 15:36] #5 closed

[2017-09-22 15:45] ms10398 opened #20 "Fix the width of the extension window it fills the whole screen"
Screenshots are attached below:-

![screenshot from 2017-09-22 21-13-16](https://user-images.githubusercontent.com/26259547/30752839-26028156-9fdb-11e7-8e4d-8000735f83fa.png)

[2017-09-22 15:45] zamhaq opened #21 "Failed to load extension"
Chrome is failing to load the unpacked extension.

![failed](https://user-images.githubusercontent.com/20766601/30752823-18991494-9fdb-11e7-8c02-ecbcf0893f8f.png)

Yes I would like to work on this.

[2017-09-22 15:47] gabru-md commented on #20
Will work on it

[2017-09-22 15:47] ms10398 opened #22 "When asked to show image it shows URL instead of the image"
**Expected Behavior**

It should display the image

**Actual Behaviour**

It shows the URL

Screenshot is attached below
![screenshot from 2017-09-22 21-13-16](https://user-images.githubusercontent.com/26259547/30752880-4f609952-9fdb-11e7-8ac0-530e956e8da2.png)

[2017-09-22 15:48] gabru-md commented on #21
Sorry zamhaq it is an error on my side. I forgot to add the icon.png file in my last commit.
If you could let me upload it ?

[2017-09-22 15:49] zamhaq commented on #21
Yeah sure. I was about to do the same :smile: anyways go ahead !

[2017-09-22 15:54] ms10398 commented on #21
I think i can upload icon.png with my fix of issue of return key so that two issues will get solved by one PR

[2017-09-22 15:54] ms10398 commented on #21
@zamhaq @gabru-md

[2017-09-22 15:55] zamhaq commented on #21
@ms10398 let him do it because he has it all setup. :smile:

[2017-09-22 15:55] ms10398 commented on #21
Okay sure go ahead

[2017-09-22 16:02] gabru-md commented on #22
These are formatting issues and can be easily dealt with after checking the JSON.
I will claim this issue as of now!
Thanks @ms10398 for reporting it to us!

[2017-09-22 16:16] #21 closed

[2017-09-22 16:56] gabru-md commented on #15
Closing this issue as it is Solved !

[2017-09-22 16:56] #15 closed

[2017-09-22 19:16] #20 closed

[2017-09-22 19:18] gabru-md commented on #17
@vaibhavsingh97 can this issue be closed ?
:)

[2017-09-22 19:36] zamhaq opened #25 "Display error message when unable to connect to susi api"
**Actual Behaviour**
When message is sent, if susi_chromebot fails to connect to SUSI api then SUSI does not responds anything  and stay idle.
![error](https://user-images.githubusercontent.com/20766601/30761247-2c3f6a6e-9ffb-11e7-8004-cf5e5b13877e.png)
**Expected Behaviour**
Show **"could not connect"** message to user.

**Would you like to work on this ?**
Yes.

[2017-09-22 19:38] gabru-md commented on #25
It would be better to show
"Some Error Occured"
or
"Sorry! Susi is busy" <- this seems cool to me.
Rest is up to you.
Cheers. Thanks for the issue.

[2017-09-22 19:40] zamhaq commented on #25
@gabru-md I will try to check the error code. If its `403` I think its better to report `unable to connect`. `Some error occured` does not give very specific info to `user`.
Thanks for suggestion :+1:

[2017-09-22 19:44] zamhaq opened #26 "Add google font link for Lato font"
The `style.css` file has `body font` set to `Lato` but it is not imported anywhere in `popup.html`.
Add google link for Lato font.
Thanks.

[2017-09-22 19:58] AshishkrGoyal commented on #26
@zamhaq can i work on this issue??
Thanks in advance 😄

[2017-09-22 19:59] gabru-md commented on #26
Sure @AshishkrGoyal
Go ahead.

[2017-09-22 20:52] AshishkrGoyal commented on #26
@zamhaq @gabru-md
please preview this PR #27 for this issue 👍

Thanks

[2017-09-23 02:38] #6 closed

[2017-09-23 08:04] #26 closed

[2017-09-23 08:14] #3 closed

[2017-09-23 08:27] ms10398 opened #30 "JSLint Errors in script.js file"
Script.js file has several JSLint Errors

![screenshot from 2017-09-23 13-54-41](https://user-images.githubusercontent.com/26259547/30771515-0c92d914-a067-11e7-8a87-18a82cf76fc5.png)

Yes I would like to work on this and make a relevant PR soon.

[2017-09-23 13:18] zamhaq commented on #30
@ms10398 Fixing just those bits of code won't be very much effective. Also, not everyone might use eslint/jslint. However, you can integrate **eslint**(use airbnb style guide) into the project if other **contributors** don't have any problem. @gabru-md What do you think ?

[2017-09-23 13:20] gabru-md commented on #30
It would be better to integrate Codacy as all other fossasia projects are using Codacy as their primary code checking CI.
@zamhaq I am currently working on it. Was a bit busy due to exams. Will do it and send a PR soon.
Will let you know if I can't

[2017-09-23 13:23] ms10398 commented on #30
Yes it would be better to integrate codacy in the project so the code is well maintained
I just fixed the errors till now. because after we integrate codacy we will have to fix those errors.

[2017-09-23 13:25] gabru-md commented on #30
@zamhaq we can merge this. And then I'll work upon codacy and travis integration.  :+1:

[2017-09-23 13:25] ms10398 commented on #30
Yes we should integrate codacy soon
So that our code is well maintained

[2017-09-23 13:39] zamhaq commented on #30
@ms10398 @gabru-md great :+1:

[2017-09-23 13:47] ms10398 commented on #30
Then go ahead for the merge :smile:

[2017-09-23 13:50] #30 closed

[2017-09-23 16:55] ms10398 opened #32 "Autofocus on textarea when extension pops up"
**Actual Behaviour**

When extension is clicked focus is not on the textarea

**Expected Behaviour**

When extension is clicked focus should be on the textarea

Yes I would like to work on it and make a relevant PR soon.

[2017-09-23 16:56] ms10398 commented on #32
@zamhaq @gabru-md
Whats your opinion

[2017-09-23 16:57] zamhaq commented on #32
go for it @ms10398

[2017-09-23 16:57] gabru-md commented on #32
great @ms10398 :+1:

[2017-09-23 17:11] tstreamDOTh commented on #10
@gabru-md  Please add Travis and Codacy as soon as possible. The code quality is not being monitored. Please read through https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/ 😊

[2017-09-23 17:12] gabru-md commented on #10
Working on it!
WIll do it asap

[2017-09-23 17:28] #32 closed

[2017-09-23 17:33] ms10398 opened #35 "Fixing arrows which are always visible"
**Actual Behavior**

Scrolling arrows are always visible even when text is not overflowing

**Expected Behaviour**

Arrows should be visible only when there is overflowing text.

Yes I would like to work on it

[2017-09-23 17:36] #19 closed

[2017-09-24 06:26] #25 closed

[2017-09-24 06:30] #35 closed

[2017-09-24 06:34] gabru-md opened #39 "Add SUSI Chat styled send button"
Remove the ordinary Submit button and replace it with SUSI style send button.

Yes I'll be working on it and sending a PR soon

[2017-09-24 07:25] #39 closed

[2017-09-24 11:11] gabru-md opened #45 "Clean up the repo and add a GIF"
move all the Extension related data inside a `src` folder.
Leaving only `README` and `LICENSE` outside it.

And add a GIF to the `README` demonstrating the working of extension.

@ms10398 @zamhaq I will work on this only if you guys agree to it as an enhancement.
Thanks!

[2017-09-24 11:42] zamhaq opened #46 "Reduce redundancy in code"
Currently there is too much redundancy in creating new messages. I will put them into separate methods so that redundancy is reduced.

Yes I will work on this.

[2017-09-24 11:46] zamhaq commented on #45
@gabru-md Sure do that. Also update `README` regarding how to load the extension, because I think that pushing extension related things into `src` might change the way to load them. Also, if it is possible create a `contributing.md` and put links to `FOSSASIA best practices`, move the **Installation** and put it in `contributing.md` and also put some of your own guidelines which you might think ar

[2017-09-24 12:03] gabru-md commented on #45
Surely will!

[2017-09-24 15:09] ms10398 commented on #46
Can we wait just till I make the images display properly then we can clean up the code as basic functionality will be completed of the extension then

[2017-09-24 15:33] zamhaq commented on #46
Yes @ms10398 no worries.

[2017-09-24 15:40] #45 closed

[2017-09-24 16:58] gabru-md commented on #10
@tstreamDOTh I am having trouble adding tests for travis.
I might need some help

[2017-09-24 17:48] tstreamDOTh commented on #10
@gabru-md any updates?

[2017-09-24 17:51] gabru-md commented on #10
@tstreamDOTh I am working on it!
If i am not able to send a PR by tomorrow then you may work on it.
Sorry for inconvenience.

[2017-09-24 22:01] ms10398 opened #49 "UI Improvement"
Input box can be adjusted to fill the white space available.
@zamhaq @gabru-md
Whats your opinion

Screenshot of the issue

![screenshot from 2017-09-25 03-18-18](https://user-images.githubusercontent.com/26259547/30787248-013585da-a1a2-11e7-8268-612c0d5170e5.png)

Yes I would like to work on the issue if this change is required

[2017-09-25 04:07] gabru-md commented on #49
@ms10398 good!
I was thinking of creating an issue about it as well.
Thanks for doing so. :+1:

[2017-09-25 05:38] ms10398 commented on #49
I will make a relevant PR soon

[2017-09-25 05:55] zamhaq commented on #10
@gabru-md what's the status on this issue ?

[2017-09-25 05:56] ms10398 commented on #10
@zamhaq I will be working on integrating Travis collabrating with @gabru-md

[2017-09-25 06:03] #22 closed

[2017-09-25 06:52] #49 closed

[2017-09-25 12:51] #46 closed

[2017-09-25 13:35] rupav opened #52 "Leading spaces"
Leading space in chat :
![2017-09-25 5](https://user-images.githubusercontent.com/20624380/30810768-c402396a-a223-11e7-98c5-72047936681f.png)

**How to reproduce it?**
Follow the steps in readme to make SUSI work, then start chatting.

I would like to work on it, if thats an issue.
A little guide where to look for will be really helpful?
Thanks.
I am new to Javascript.

[2017-09-25 15:27] stealthanthrax commented on #52
@rupav could you please elaborate on this issue

[2017-09-25 15:29] gabru-md commented on #52
@rupav thanks for notifying us.
But this issue is already known and is been worked upon by @ms10398 .
He has been working on UI enhancement and should soon be sending a PR

Thanks again. :)

[2017-09-25 15:55] ms10398 commented on #52
@rupav Yes that issue is already resolved you can work on any other issue or any other feature you want to add to the community

[2017-09-25 16:01] ms10398 commented on #17
@vaibhavsingh97 Can this issue be closed

[2017-09-25 16:03] gabru-md commented on #52
This issue can now be closed.

[2017-09-25 16:55] vaibhavsingh97 commented on #17
@ms10398 @gabru-md Closing since since this is not an issue 😄

[2017-09-25 16:55] #17 closed

[2017-09-25 16:56] rupav commented on #52
ok @gabru-md  @ms10398. Thanks.

[2017-09-25 16:56] #52 closed

[2017-09-25 17:54] zamhaq opened #56 "Integrate google webspeech api"
Integrate google webspeech api for :-
- [ ] Text To Speech
- [ ] Speech input

Yes, I would work on this.

[2017-09-25 17:55] gabru-md commented on #56
Will work on this.

[2017-09-25 17:56] zamhaq commented on #56
@gabru-md Sorry I forgot to write it before, I am working on it :smile:

[2017-09-25 17:57] gabru-md commented on #56
Okay! No problem
You can always take my help when you need
:+1:

[2017-09-25 17:57] zamhaq commented on #56
@gabru-md cool.

[2017-09-25 18:42] sachincool opened #58 "Travis build badge is not in the Readme"
Yes, I will make a relevant PR soon.

[2017-09-25 19:16] #58 closed

[2017-09-26 08:10] S2606 opened #60 "Add .eslintrc file"
For javascript linting purposes.

**Would you like to work in this issue?**
Yes

[2017-09-26 09:38] zamhaq commented on #60
@S2606 `eslint` is not being used. Project uses `jshint`

[2017-09-26 15:29] ms10398 opened #61 "UI improvement"
@zamhaq @gabru-md Time of the message being sent can be shown with the message.
Whats your thought
Yes I would like to work on it if you approve this improvement

[2017-09-26 15:30] gabru-md commented on #61
Yes i was thinking of it.
Yes you may do it!

[2017-09-26 16:35] ms10398 opened #63 "Theme Preferences"
**Feature Request**

There should be light and dark theme supported as [Susi Chat](http://chat.susi.ai).

**Would you like to work on it?**

Yes I would like to work on it.

[2017-09-26 17:49] zamhaq commented on #60
@gabru-md @ms10398 Are you guys using `.jshintrc` to integrate `jshint` with your `editor` ? I am making my `PR` soon, so if you guys are using `.jshintrc` then I will be committing it, otherwise I will ignore it. Please confirm.

[2017-09-26 18:06] ms10398 commented on #60
We are using gruntfile which has jshint configurations @zamhaq

[2017-09-26 18:11] zamhaq commented on #60
so you run the `grunt task`. But I am using `.jshintrc` integration with my `vscode`. So, is it a problem if I upload the file or should I just ignore it ?

[2017-09-26 18:14] ms10398 commented on #60
Yes we are running grunt task. We will not need `.jshintrc` because we have all configurations in gruntfile so maybe no need to commit it.

[2017-09-26 18:14] zamhaq commented on #60
@ms10398 ok cool.

[2017-09-27 05:32] #56 closed

[2017-09-27 05:43] gabru-md commented on #63
@ms10398 if you're not working then can i please ?

[2017-09-27 05:43] zamhaq opened #65 "Disable the mic input until the first event completely ends."
Actual Behaviour :-
The mic input can be pressed several times which will lead to multiple events being registered.

Expected Behaviour :-
Disable the mic input until the first speech recognition event completely ends.

[2017-09-27 05:44] #61 closed

[2017-09-27 05:45] gabru-md commented on #65
@zamhaq i would like to try working on it.

[2017-09-27 05:45] zamhaq commented on #65
@gabru-md Sure. :+1:

[2017-09-27 05:54] zamhaq opened #66 "Fix the settings icon displayed on the header."
Fix the background of the settings icon and move it to the extreme left on the header.

![susivoice](https://user-images.githubusercontent.com/20766601/30897906-6293f26e-a376-11e7-9e9c-75a009d5400b.png)

[2017-09-27 05:55] gabru-md commented on #66
Will do today

[2017-09-27 05:56] zamhaq commented on #66
@gabru-md great.

[2017-09-27 05:58] zamhaq opened #67 "Add some information on the new tab that opens"
**Actual Behaviour** :-

When the new tab opens on clicking `settings`, it is completely blank.

**Expected Behaviour** :-

Add some information into the page regarding `microphone access`.

**Yes, I would work on this.**

[2017-09-27 06:15] ms10398 commented on #63
@gabru-md I am working on it its almost done

[2017-09-27 06:17] gabru-md commented on #63
:+1:

[2017-09-27 06:32] S2606 opened #68 "Add issue and pull request template"
Following other FOSSAsia project templates are needed.

**Would you like to work in this one?**
Yes

[2017-09-27 06:34] S2606 opened #69 "Fixing UI issues"
![image](https://user-images.githubusercontent.com/18497513/30899059-ec4a657e-a37b-11e7-8278-e6ffc6051fd7.png)
As we can see some fixing needs to be taken care of.

**Would you like to work on this one?**
Yes

[2017-09-27 06:35] gabru-md commented on #69
@S2606 please describe the changes you propose

[2017-09-27 06:37] S2606 commented on #69
@gabru-md

- Fixing the settings icon location

- Using space of input text and submit button

[2017-09-27 06:39] #60 closed

[2017-09-27 06:40] gabru-md commented on #69
There is a seperate issue for settings icon which I'm working upon.
I guess the spacing was fixed before ? Am i right @zamhaq

[2017-09-27 06:51] ms10398 commented on #69
Yes one issue is fixed and on one issue @gabru-md is already working @S2606

[2017-09-27 09:23] zamhaq opened #71 "Add animation to mic button"
Add some animation to the mic button when user is speaking.

**Yes. I would work on this.**

[2017-09-27 09:45] ms10398 opened #72 "Uneven spaces between mic, textbox and send icon"
Yes I would like to work on it and will make relevant PR soon.

[2017-09-27 12:13] #66 closed

[2017-09-27 12:41] ms10398 commented on #10
@zamhaq Codacy can only be implemented by you as you are the one with the write access to the repository so you should try to implement it and close this issue!! Cheers

[2017-09-27 12:42] zamhaq commented on #10
Oh okay @ms10398. Will do that.

[2017-09-27 17:41] gabru-md opened #75 "Theme Change error"
**Expected Behaviour**
Changing the theme causes the previous messages to remain in same way.

**Actual Behaviour**
It must be changed and should adapt to the changed theme.

**Yes** I will work on this.

[2017-09-27 17:50] #63 closed

[2017-09-27 17:54] stealthanthrax opened #77 "There is an issue when I ask susi to get me a meme"
![issue](https://user-images.githubusercontent.com/29942790/30929108-1782cd9e-a3db-11e7-9dc5-594aa98d40d9.png)

[2017-09-27 17:56] stealthanthrax commented on #77
it displays the the file path also

[2017-09-27 17:58] ms10398 commented on #77
This is a server issue and the changes are happening in the server
So we cant change anything on the extension side

[2017-09-27 17:58] gabru-md commented on #77
Thanks for letting us know!
We will take care of it.
I will work on it as well @zamhaq .

[2017-09-27 17:59] ms10398 commented on #77
@gabru-md We cant do anything try this query on susi chat you will get to know

[2017-09-27 18:03] zamhaq commented on #77
yes @ms10398 is correct. @stealthanthrax Thanks for reporting but thats a problem on the backend. You could report the same issue on that repo if it is not already present.

[2017-09-27 18:05] gabru-md commented on #77
cool ! thanks for letting me know

[2017-09-27 18:06] zamhaq opened #78 "Add .jshintrc file for automatic detection on codacy"
With the .jshintrc file provided, I won't have to manually configure it.

I will be adding `.jshintrc` if thats fine with you guys @ms10398 @gabru-md ?

[2017-09-27 18:07] stealthanthrax commented on #77
ok thanks @zamhaq @ms10398 @gabru-md

[2017-09-27 18:07] ms10398 commented on #78
@zamhaq Yes sure go ahead configuring codacy is a important thing.

[2017-09-27 18:07] #77 closed

[2017-09-27 18:14] gabru-md commented on #78
@zamhaq go on with it ! It is good to have codacy involved to keep a check of code quality.

[2017-09-27 19:00] hkedia321 opened #80 "Wrong response read from server"
**actual behaviour**
Currently, the `answers[0].data[0]` field is being read. This is not the correct response to read. Wrongly, the request is being send twice from the client side.
![image](https://user-images.githubusercontent.com/17807257/30932104-1b640a14-a3e4-11e7-9fa3-dbb74b6f6bd3.png)

**Expected behaviour**
Send the request only once for one query. Read the correct response which is the `

[2017-09-27 19:08] zamhaq commented on #80
@gabru-md what about this ? I would like to work on it.

[2017-09-27 19:08] gabru-md commented on #80
Yes sure you may.

[2017-09-27 19:25] zamhaq commented on #80
@gabru-md it seems that chat.susi.ai return the same responses. Please test and confirm. If that's so, then this can wait.

[2017-09-28 05:19] ms10398 opened #81 "Susi Messages dont follow the Susi Chat color in dark mode"
Screenshot of issue-

![susidark](https://user-images.githubusercontent.com/26259547/30950444-8b3ceb02-a43a-11e7-80f7-44cf72bdd600.png)

Color of Susi Message and Extensions Susi message is different

Yes I would like to work on it and make a relevant PR soon.

[2017-09-28 08:30] #78 closed

[2017-09-29 13:57] stealthanthrax opened #82 "Can we replace the settings icon menu with a drop down or side menu"
The main purpose of making the susi chrome bot was that the user doesn't have to leave his work to use SUSI .But having to open a seperate page really destroys the purpose.

**If yes**
 I would like work on this issue

[2017-09-29 13:58] stealthanthrax commented on #82
@gabru-md @zamhaq @ms10398

[2017-09-29 14:00] zamhaq commented on #82
Don't know about that. You could definitely open an **iframe** or a new **window**. The **Tab** solution is definitely a bad user experience.

[2017-09-29 14:47] stealthanthrax commented on #82
So,should I start working on this issue?

[2017-09-29 15:03] zamhaq commented on #82
Sure. Go for it.

[2017-09-29 16:59] gabru-md opened #83 "copy previous message in chat when 'up/down' key is pressed"
**Actual Behaviour**

Nothing happens on pressing the "up" or the "down" key in chat

**Expected Behaviour**

On pressing the "up" key the previous message should be copied. And on pressing the "down" key, the following message should be copied.
Often the user wants to copy the previous message. This would enable the user to easily send previous messages with little or no modification to the messa

[2017-09-29 17:04] stealthanthrax commented on #82
Thansk @zamhaq

[2017-09-29 18:37] zamhaq commented on #72
@ms10398 is this fixed ?

[2017-09-29 18:37] gabru-md commented on #75
@zamhaq Will start working on it tomorrow.
:+1:

[2017-09-29 18:50] ms10398 commented on #72
Yes I will make the PR today

[2017-09-29 18:54] #83 closed

[2017-09-29 18:57] zamhaq commented on #69
Close this issue ?

[2017-09-29 18:59] zamhaq commented on #82
@stealthanthrax while you work on this, if you go for an **iframe** or a **window**, open the **options.html** file inside it. :+1:

[2017-09-30 07:26] #71 closed

[2017-09-30 07:26] #67 closed

[2017-09-30 09:50] zamhaq commented on #80
@gabru-md would you take a look into this? According to the issue, the response read is wrong, but if we go with reading the `actions` attribute then we won't get the required data. for e.g:-
![actions](https://user-images.githubusercontent.com/20766601/31044731-6d5d6076-a5f2-11e7-956e-6e13dfabfd2d.png)
In case we go with searching `Manish Devgan` the `actions` attribute will not provide the neces

[2017-09-30 09:52] gabru-md commented on #80
@zamhaq I'll look into it. And will try to make a PR in a day or two.
You can assign this issue to me thanks!

[2017-09-30 09:53] zamhaq commented on #80
great

[2017-09-30 09:56] #10 closed

[2017-09-30 12:25] ms10398 opened #89 "Replace the gif in readme with the lastest gif"
The Gif in the readme is of the old extension so it should be replaced with the latest extension

Yes I would like to work on it and make a relevant PR soon.

[2017-09-30 13:04] ms10398 opened #90 "Add Codacy badge to the repository"
@zamhaq You can integrate the codacy badge to the Project readme as you have the write access to the repository.

[2017-09-30 14:05] zamhaq commented on #90
That's already done @ms10398

[2017-09-30 15:16] ms10398 commented on #90
Thanks @zamhaq
Closing this issue as it is resolved

[2017-09-30 15:16] #90 closed

[2017-09-30 19:32] rupav opened #92 "Add different icon sizes in manifest.json"
This is to ensure susi.ai icon'size on the toolbar is compatible with the platform used.
I had done similar type in fossasia/susi_firefoxbot [https://github.com/fossasia/susi_firefoxbot/pull/22](url) where I used an svg icon.
But Chrome does not show svg icon so will do something else.
Also, recommended sizes are:
[https://developer.chrome.com/apps/manifest/icons](url) .

**Would you like to work

[2017-09-30 19:34] rupav commented on #92
@gabru-md  @zamhaq is this needed to be done?

[2017-10-01 06:54] stealthanthrax commented on #82
@zamhaq could you please explain me more about options.html?

[2017-10-01 07:44] zamhaq commented on #82
Please search for chrome extensions and microphone access issue. The new tab that opens is there so that extension can have microphone access. If you want to replace the tab, then it must be a window or an iframe.

[2017-10-01 08:02] gabru-md commented on #92
As i spoke to you
This is not required.
But you can still add a 48X48 icon if you want.
@zamhaq close this issue please. Please make a PR if you want to add the 48X48 icon
Thanks!

[2017-10-01 08:24] #68 closed

[2017-10-01 08:31] zamhaq commented on #80
@gabru-md whats the status? Did you take a look?

[2017-10-01 08:37] gabru-md commented on #80
@zamhaq i was ill. thats why i mentioned that i will start working on it in a day or two.

I will start working on it today

[2017-10-01 08:55] gabru-md commented on #89
@ms10398 I guess that this issue can wait. since there are a lot of changes being made to susi_chromebot.
Therefore when we are done quite a lot with it, then you can do it.

[2017-10-01 10:06] ms10398 commented on #80
@gabru-md If you need any help just drop me a message always willing to help
:+1:

[2017-10-01 10:13] ms10398 commented on #89
Yes I have put this issue on hold as lots of changes are being made :+1:

[2017-10-01 11:15] zamhaq opened #97 "Make chat data persistent"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

 **Current behavior:**
 Once the browser action is closed all chat data is lost.

 **Expected behavior:**
 Chat data should be preserved unless user closes i

[2017-10-01 11:44] ms10398 commented on #75
@gabru-md May I work on it

[2017-10-01 11:46] gabru-md commented on #75
Okay! Because you implemented the theme changes. It would be easier for you to do the changes.
Thanks !
Cheers

[2017-10-01 11:47] ms10398 commented on #75
Yes Sure Will work on it Thanks ! Welcome

[2017-10-01 11:55] ms10398 commented on #97
Yes we could implement this feature after you implement this feature I would like to add the Clear all button.

[2017-10-01 12:26] rupav opened #99 "Mic is not working"
On clicking mic, there is no response, "SPEAK NOW" comes on top and vanishes quickly.
It is not registering our chat using mic.
![2017-10-01 3](https://user-images.githubusercontent.com/20624380/31054521-d178c28c-a6d1-11e7-94da-d92d96959313.png)
**Would you like to work on it?**
Yes.

[2017-10-01 12:28] zamhaq commented on #99
@rupav did you enable mic?

[2017-10-01 12:29] rupav commented on #99
@zamhaq  Sorry, I just did and its working fine. Sorry, my bad. Can you please update the readme :)

[2017-10-01 12:30] #99 closed

[2017-10-01 12:32] zamhaq commented on #99
@rupav you can do that or you can create a new issue `alerting the user if the mic is not allowed`. :smile: You can work on it if you want to.

[2017-10-01 12:35] rupav opened #100 "alerting the user if the mic is not allowed"
**Actual Behaviour **
![2017-10-01 3](https://user-images.githubusercontent.com/20624380/31054521-d178c28c-a6d1-11e7-94da-d92d96959313.png)
**Expected Behaviour**
An alert message for user to change the setting on the top.
**Would you like to do it?**
Yes

[2017-10-01 12:36] rupav commented on #100
@zamhaq as suggested, I will do it ASAP :)

[2017-10-01 12:37] zamhaq commented on #100
@rupav Please mention the `actual behavior` and `expected behavior`. Thanks.

[2017-10-01 13:00] ms10398 opened #102 "UI Enchancement(Scrollbar)"
Its a UI enchancement now the scrollbar is really simple I would like to enchance its look and make it attractive.

@zamhaq @gabru-md Whats your opinion?

[2017-10-01 13:02] zamhaq commented on #102
sure

[2017-10-01 13:03] ms10398 commented on #102
Thanks will make a relevant PR soon
Till then can you review my PR https://github.com/fossasia/susi_chromebot/pull/101

[2017-10-01 13:06] zamhaq commented on #102
I did approve it yesterday. @ms10398 seems your PR closed. Anyways, will merge once others approve. :+1:

[2017-10-01 13:08] ms10398 commented on #102
Yes I resetted my fork with upstream and that PR got closed so I made the changes again and sent a PR.
Thanks yes merge it after others approve it.

[2017-10-02 06:24] rupav commented on #100
@zamhaq  @gabru-md  help needed in this:
So basically when 'settings' button got clicked line, 280 gets executed
![2017-10-02](https://user-images.githubusercontent.com/20624380/31066034-893fce70-a767-11e7-8f37-d621cafe0dc2.png)

Now what I want is to set a variable say 'settings_clicked' = true and use it in 'if else' like statements for accessing toggleStartStop() in between 274-276 lines.
But t

[2017-10-02 07:49] gabru-md commented on #100
A better way would be to update the readme for the same, directing the user on how to setup this extension before using it.
@rupav you can leave this issue and update the readme for the same. And if you can then look for anything else that can be mentioned in the readme.
Thanks

[2017-10-02 08:05] zamhaq commented on #100
@rupav what you could do is check if mic is allowed using chrome apis(search if this can be done) .  If its not then alert user about no mic allowed and how he can enable it. You can try or else leave it and I'll work on this.
For now, there is no way you can keep that variable state, I am working persistent storage.

[2017-10-02 08:09] gabru-md commented on #100
@zamhaq this issue has been taken care of and appropriate changes have been made to the readme.
Please see the pull request that @rupav has made.
Thanks

[2017-10-02 08:27] zamhaq commented on #100
@gabru-md while documentation was needed about setting up the microphone, that does not solve the issue when the user tries to access mic without allowing it. I think the issue should be open.

[2017-10-02 08:35] #92 closed

[2017-10-02 08:42] #72 closed

[2017-10-02 08:43] #69 closed

[2017-10-02 13:30] rupav commented on #100
@zamhaq I will look into this then as per your suggestion. Will update you within 3 days.

[2017-10-02 17:30] ms10398 commented on #81
We can close this as it is resolved @zamhaq

[2017-10-02 17:47] #81 closed

[2017-10-02 19:48] mariobehling commented on #102
The main goal of the clients is to enable a smooth communication of SUSI.AI with the user. The goal is not to push certain UI elements to the user. While another scroll bar could look cool for certain use cases, here it is important to keep it simple and neat and avoid too shiny colors that distract the user from the actual content. Therefore closing it.

[2017-10-02 19:48] #102 closed

[2017-10-03 02:16] zamhaq commented on #80
@gabru-md @ms10398 we need to support different type of responses like the rss and table response. If you are on it then do one more thing, change the width of the message to occupy the full width of box to make messages and content look cleaner and understandable.

[2017-10-03 05:58] ms10398 commented on #80
@gabru-md Whats the status on this.

[2017-10-03 11:15] rupav opened #105 "Keyboard shortcut for popup."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

n.a
**Expected behavior:**

A keyboard keys combinations for opening the popup
This is similar to the work in susi_firefoxbot.

**Wou

[2017-10-03 13:18] harshit98 commented on #82
What's the status of this issue? @stealthanthrax

[2017-10-03 13:19] harshit98 commented on #65
What's the status of this issue @zamhaq @gabru-md ?

[2017-10-03 13:21] zamhaq commented on #65
@harshit98 @gabru-md should be working on this as he claimed the issue. @gabru-md are you working on it?

[2017-10-03 13:37] gabru-md commented on #65
@zamhaq I'm currently very ill and undergoing treatment. So i may not be able to work for some time. You can give this issue to someone else.
Sorry

[2017-10-03 13:40] zamhaq commented on #65
@gabru-md Oh, No problem. I'll open your issues for someone else.

[2017-10-03 13:41] zamhaq commented on #80
@ms10398 I'll be working on this from now.
You can work on other issues assigned to @gabru-md as he won't be able to. Thanks.

[2017-10-03 15:23] ms10398 commented on #80
@zamhaq go ahead as you make the chat read the right data from server.
I will try to implement feature to support of all types of responses

[2017-10-03 15:37] zamhaq commented on #80
@ms10398 I'll try to do that in this issue itself if possible. Meanwhile, you can work on other issues that are open. :+1:

[2017-10-04 09:14] #105 closed

[2017-10-05 08:11] stealthanthrax commented on #82
@zamhaq i will be using js in this issue ,if not a problem

[2017-10-05 08:12] stealthanthrax commented on #82
@harshit98 i have been facing some problems in my other pr on this project , i am trying to figure them out first

[2017-10-05 10:08] stealthanthrax opened #107 "Susi styled side menu and navbar"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
A settings icon is used

**Expected behavior:**
Replacing setting icon with navbar

Your operating system
Mac OS

**Would you like to w

[2017-10-05 11:21] ms10398 commented on #75
Sorry for delay in the PR as my college exams were going on. I will make the PR tomorrow after completing it today.

[2017-10-05 12:41] #107 closed

[2017-10-05 12:42] #82 closed

[2017-10-05 15:39] gabru-md opened #110 "SUSI should not always SPEAK"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently the bot speaks for every response.

**Expected behavior:**

The user must have an option like to toggle TTS, There must be a

[2017-10-05 16:00] stealthanthrax opened #111 "Adding the login portal to chromebot"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only the login button is present.

**Expected behavior:**
The need to add a login form

**System information:**

[code]
![31082760-6420

[2017-10-05 16:13] ms10398 commented on #110
@gabru-md I would like to ask is the TTS working because its not working on my PC.

[2017-10-05 16:14] #80 closed

[2017-10-05 16:18] zamhaq commented on #110
@gabru-md yes it's working for me.

[2017-10-05 16:19] ms10398 commented on #110
Is there any setting we need to do for it

[2017-10-05 16:20] gabru-md commented on #111
Why this ?

[2017-10-05 16:20] zamhaq commented on #110
@ms10398 the initial setting to allow microphone, through settings.

[2017-10-05 16:21] gabru-md commented on #110
@ms10398 It works fine for me as well. You need to allow the bot to access the microphone

[2017-10-05 16:21] zamhaq commented on #100
@rupav whats the status on this?

[2017-10-05 16:23] ms10398 commented on #110
I have allowed I will check it again.

[2017-10-05 16:25] stealthanthrax commented on #111
@gabru-md,because there is a login portal on the main chat bot: so,i was thinking whether it is required or not

[2017-10-05 16:26] gabru-md commented on #111
okay! @zamhaq @ms10398 Please see

[2017-10-05 16:28] zamhaq commented on #111
@stealthanthrax are going implement only the link or the complete functionality? Maintaining sessions and all?

[2017-10-05 16:30] gabru-md commented on #111
@stealthanthrax I guess that Only the link would be sufficient as this is just a chrome extension and there is no need to add this stuff to it.
Let's keep it to what it should be and not wander from the ultimate path of making it a chrome-chat-bot for susi.

[2017-10-05 16:32] ms10398 commented on #111
@gabru-md Agreed

[2017-10-05 16:38] zamhaq commented on #111
@stealthanthrax @gabru-md do you think `login` link is even useful? Since it would not actually log in the user from the extension and there would be no `sessions`. I think we should drop the link and option to `login`. Otherwise, it would be just like a shortcut for logging in.

[2017-10-05 16:39] ms10398 commented on #111
Yes we should drop the link as it is of no use in the extension.

[2017-10-05 16:41] zamhaq commented on #65
@gabru-md I think this is not required. The mic works as on/off switch for speech recognition. If we disable the `mic` after the user clicks it once, he would not be able to click the mic to turn off the recognition and would have to wait for recognition to end automatically.

[2017-10-05 16:44] ms10398 opened #112 "Table response have too many responses"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Table response shows too many rows.

**Expected behavior:**
It should have limited rows.

**Steps to reproduce:**
Type `Universities in

[2017-10-05 16:45] zamhaq commented on #112
@ms10398 thinking of including a `show more` like option?

[2017-10-05 16:46] ms10398 commented on #112
Yes that could be a good option @zamhaq

[2017-10-05 16:48] ms10398 commented on #97
Whats the status @zamhaq

[2017-10-05 16:50] zamhaq commented on #97
Been busy working on several issues. Will work on this from now. Sorry for delaying. :smile:

[2017-10-05 16:51] ms10398 commented on #97
No issues :+1: If need any help feel free to contact will always love to contribute :smile:

[2017-10-05 16:58] zamhaq commented on #112
@ms10398 yes sure.

[2017-10-05 17:06] ms10398 opened #114 "After the new features added the dark theme has issue"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The side menu doesnt follows dark theme

**Expected behavior:**
It should follow the dark theme
**Steps to reproduce:**
Turn on the dar

[2017-10-05 17:06] sachincool commented on #114
Yes I would like to work on it Thanks

[2017-10-05 17:10] stealthanthrax commented on #111
@zamhaq @ms10398  ,if we can find a way to add a remote login/logout to the main susi-server : so,will that be required?

[2017-10-05 17:11] zamhaq commented on #111
I think that's not a requirement right now. Thanks.

[2017-10-05 17:13] gabru-md commented on #111
@stealthanthrax this does not look like a viable issue to me.
as @zamhaq stated, There will be no sessions so no need to do this.
Having links that redirect to the website is, according to me, more than enough!
Cheers!
@zamhaq this issue can be closed.

[2017-10-05 17:17] stealthanthrax commented on #111
@gabru-md @zamhaq @ms10398 ok.

[2017-10-05 18:55] #111 closed

[2017-10-06 02:29] rupav commented on #100
Hi @zamhaq , I wasn't able to look much into it, and also busy in coming couple of days. So please take up the issue :) . Apologies for not sharing the progress.

[2017-10-06 19:25] stealthanthrax opened #118 "Opening the settings tab in a new window."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Settings tab opens in a new tab which makes the user to ultimately leave his work which ultimately destroys the purpose of making a chr

[2017-10-07 13:54] #110 closed

[2017-10-09 17:13] #75 closed

[2017-10-09 18:35] stealthanthrax opened #120 "To add descriptive logos in susi navbar (UI/UX)"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

Your operating system
MAC OS

**Would you like to work on the issue?**
 Yes, I would like to work on this issue

[2017-10-10 13:02] #97 closed

[2017-10-10 15:27] rupav commented on #100
@zamhaq are you working on this? Can i continue if you are not ? :)

[2017-10-10 17:11] zamhaq commented on #100
@rupav yeah, you can work on this.

[2017-10-10 17:16] zamhaq opened #124 "Add a clear chat button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Stored chat data cannot be deleted unless done through the console.

**Expected behavior:**
Implement a `button` to clear the stored ch

[2017-10-10 17:17] ms10398 commented on #124
I would like to work on it @zamhaq

[2017-10-10 17:19] #65 closed

[2017-10-10 18:17] VRamazing opened #125 "Link to Contributing.md in Readme.md redirecting to 404"
**I'm submitting a ...**  (check one with "x")
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

click on  "here" next to  Read CONTRIBUTING.md at bottom of README.

**Expected behavior:**

Should redirect to contributing file

**

[2017-10-10 18:48] VRamazing opened #126 "White pixel block at the left corner next to navigation icon"
**I'm submitting a ...**  (check one with "x")
- [x ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Dead/White pixel block at the left corner next to navigation icon.Circled in black
![deadpixel](https://user-images.githubusercontent

[2017-10-10 18:56] #114 closed

[2017-10-10 19:08] VRamazing opened #127 "Navigation popup toggled at any point to the left of Susi.ai logo"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently, navigation toggles if we hover at any point to the left of susi.ai logo which shouldn't be the case.
![navigationbug](https

[2017-10-10 19:14] VRamazing opened #128 "Set text area resizeable to false"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Text area to input message can be resized which is a very bad ui

**Expected behavior:**

It should not be resizable by user and overf

[2017-10-10 19:19] VRamazing opened #129 "Add right padding to send message button or increase the width of text area .It appears unsymmetric"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behaviour:**

Too much space between text-area right corner and send button.Too little space between right corner of send button and extension wind

[2017-10-10 19:22] VRamazing opened #130 "Improve dark them ui"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

Improve dark theme UI to see text area to type clearly and make it more appealing by using complementary colours.

**Would you like to work on the issue?**
Y

[2017-10-10 19:22] gabru-md commented on #129
@VRamazing it is great to have all these issues and that you are too eager to solve it. But it would be better to have it done under one single PR as they all are just UI Issues nothing else.

[2017-10-10 19:23] zamhaq commented on #129
@VRamazing that's almost incomprehensible.

[2017-10-10 19:24] gabru-md commented on #129
So kindly donot issue more than one PR  for all the  UI Enhancements

[2017-10-10 19:43] VRamazing commented on #129
@gabru-md Multiple issues are created to get feedback on each issue seperately.If you want me to merge them into 1 PR.I can do that.

[2017-10-10 19:44] VRamazing commented on #129
@zamhaq  Sorry about that should have added screenshot.Anyways I have fixed the bug.

[2017-10-10 20:05] VRamazing commented on #124
Where should we add this button? The only suitable place that suits me is next to color toggle button or we can add it in the menu bar

[2017-10-10 20:12] VRamazing commented on #126
This issue doesn't arise in latest codebase so I am closing this.

[2017-10-10 20:12] #126 closed

[2017-10-10 20:14] zamhaq commented on #124
@ms10398 @VRamazing  make the `theme toggle` and `clear chat` as separate drop down on the top right where the `theme toggle` is currently placed.

[2017-10-10 20:24] VRamazing commented on #124
@zamhaq  Sounds cool

[2017-10-10 21:35] ms10398 commented on #89
This issue is on hold after some time we will open it as the extension is changing a lot on daily basis.

[2017-10-10 21:40] ms10398 commented on #128
Please for all the issues related to UI you can make a single UI enchancement issue and not seperate  issues as there are 6-7 small issues only UI related.

[2017-10-10 21:44] ms10398 commented on #124
@zamhaq I will try to implement it that way

[2017-10-11 01:54] VRamazing commented on #128
@ms10398 I am gonna update all issues with a single one

[2017-10-11 02:02] VRamazing commented on #89
@ms10398  ok

[2017-10-11 15:49] zamhaq commented on #100
@rupav what's the status?

[2017-10-11 17:22] stellargo commented on #125
Hi, I would love to work on this! Could you tell me if a contribute.md needs to be written, or we already have it, or we need to redirect it to some fossasia general contributing.md :)

[2017-10-11 17:38] rupav commented on #100
@zamhaq  will update you by tomorrow night positively.

[2017-10-11 18:31] rupav opened #132 "Login is not responding."
**I'm submitting a ...**  (check one with "x")
- [ x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Clicking on 'login' from extension dont respond/do anything.
![2017-10-11](https://user-images.githubusercontent.com/20624380/3145923

[2017-10-11 18:34] zamhaq commented on #132
@rupav the login functionality is not needed. That link will actually be removed.

[2017-10-11 18:37] rupav commented on #132
Ok @zamhaq 👍, Closing this issue then.

[2017-10-11 18:37] #132 closed

[2017-10-12 18:19] zamhaq commented on #112
@ms10398 whats the status on this?

[2017-10-12 18:20] zamhaq commented on #100
@rupav please update.

[2017-10-12 18:21] ms10398 commented on #112
@zamhaq I will make the PR tom I have figured a way for it.

[2017-10-12 19:36] rupav commented on #100
@zamhaq  At the moment, I can access mic without even allowing the settings option. Please check if its true on your end too. I removed the extension and loaded it again, still seeing the same behaviour.

[2017-10-14 11:51] geekyd opened #134 "Add communication channel to readme"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is no information about the gitter communication channel.

**Expected behavior:**
Please add information about gitter channel to

[2017-10-15 14:21] zamhaq commented on #100
@rupav No problem. I will fix this.

[2017-10-15 17:11] stealthanthrax commented on #134
@geekyd i would like to work on this issue

[2017-10-16 12:06] #134 closed

[2017-10-16 13:32] VRamazing commented on #124
@ms10398 Are you working on this?

[2017-10-16 15:09] stealthanthrax opened #139 "To add a login feature"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [s] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No login feature

**Expected behavior:**
To add a login feature

**Would you like to work on the issue?**
Yes
[code]

[2017-10-18 06:45] techpool commented on #125
@VRamazing Please take a look at the above PR and let me know if this fixes the issue.

[2017-10-18 08:49] VRamazing commented on #125
@techpool  Looks good to me

[2017-10-18 09:17] techpool opened #141 "Error in case susi server does not responds back with any answer"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently whenever the response susi server does not contains any answer the code logic fails. For example whenever the body is of the

[2017-10-20 04:06] harshit98 opened #142 "Dark theme automatically switches to Light theme"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behaviour:**
After using the extension in dark mode, closing up popup and re-opening it switches back the theme to light mode.

**Expected behaviou

[2017-10-20 06:53] #125 closed

[2017-10-20 07:43] shubhshrma commented on #142
I'd like to take this up.

[2017-10-22 18:42] hkedia321 opened #144 "Add context menu for quick access to SUSI chrome extension"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No context menu on right click

**Expected behavior:**
Add context menu, so that user can ask SUSI for the selected text by right click

[2017-10-22 19:18] stealthanthrax commented on #118
@zamhaq @ms10398, I am unable to fix this issue properly , Can you guys  assign it someone else?

[2017-10-22 19:24] stealthanthrax opened #145 "Message box not visible in the dark theme"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Input box not clearly visible.

**Expected behavior:**
To change the color of the message box
<img width="349" alt="screen shot 2017-10

[2017-10-22 19:27] stealthanthrax opened #146 "To allow the user to have a custom background"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only 2 restricted themes available ,the ability to the user to atleast be able to add a custom background

**Would you like to work on

[2017-10-22 20:56] akshatnitd commented on #118
@stealthanthrax @zamhaq @ms10398 I am working on it

[2017-10-23 02:59] zamhaq commented on #145
@stealthanthrax this issue already has PR. Thanks.

[2017-10-23 04:06] stealthanthrax commented on #146
@zamhaq,can I start working on it?

[2017-10-23 05:19] gabru-md commented on #146
@stealthanthrax why is it even needed?

[2017-10-23 05:20] gabru-md commented on #146
It is supposed to be a light weight chrome extension to be easy to use and faster to load.
A user can definitely go to chat.susi.ai to get all the features he/she wants. I guess adding so many features will make it heavy and increase the loading time and size therefore defying the purpose of it to be light weight and ready to use extension.
@zamhaq please comment something.

[2017-10-23 05:26] gabru-md commented on #112
@ms10398 please update.

[2017-10-23 06:01] zamhaq commented on #146
@gabru-md Yeah, my initial thought about the extension was same, but now many features are being implemented, eg the `login` feature is also being implemented since it was already implemented in `firefox bot`, so it was decided to add the features and let the user decide what he wants or not.
@stealthanthrax yes you can go ahead, but when implementing this feature keep in mind that if background b

[2017-10-23 06:02] gabru-md commented on #146
@zamhaq thanks!

These were just my thoughts that i wanted to share. Rest i respect what you say. So i guess this can be worked upon.

[2017-10-23 06:15] zamhaq opened #149 "Sync susi chromebot chat history with server"
**I'm submitting a ...**  (check one with "x")

- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

The chats made with susi_chromebot are accessible only here.

**Expected behavior:**

The chats done in web chat or any other client

[2017-10-23 06:21] ms10398 commented on #124
I have already made a PR @VRamazing

[2017-10-23 06:56] stealthanthrax commented on #139
@ms10398 @zamhaq is it required to have a specific color scheme for the form??

[2017-10-23 07:02] #124 closed

[2017-10-23 07:24] ms10398 commented on #139
@stealthanthrax I think you should go with basic susi themed colors.

[2017-10-23 08:05] #142 closed

[2017-10-23 08:26] akshatnitd opened #150 "Add space between scrollbar and messages"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

The scroll-bar and the messages are too close and there is extra space on right side of the scroll-bar.
![scroll](https://user-images.

[2017-10-23 08:34] ms10398 opened #151 "Correct Pull Request Template"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior and expected behaviour**
In the pull request template it is written to make branch up to date with nextgen branch but it should be master

[2017-10-23 17:30] #150 closed

[2017-10-23 17:31] #118 closed

[2017-10-23 17:41] zamhaq commented on #149
Since no one has claimed this issue yet, I will be working on this one. Please inform if anyone has already started working.

[2017-10-23 17:45] #144 closed

[2017-10-24 17:20] #128 closed

[2017-10-24 17:39] zamhaq opened #156 "Split Script.js into multiple files"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The extension loads from script.js which results in lots of conflicts when multiple members edit the same file. Also, the codebase is i

[2017-10-24 17:39] zamhaq commented on #156
@gabru-md @mariobehling @ms10398 what do you think?

[2017-10-24 23:51] ms10398 commented on #156
Yes thats a good idea

[2017-10-24 23:58] ms10398 opened #157 "Add suppport for map response"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is no support for map response type till now

**Expected behavior:**
There should be support of map response

**Steps to reproduc

[2017-10-25 05:06] ms10398 opened #158 "Copy a word directly into susi."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Presently there is only one context menu that directly searches a selected word.

**Expected behavior:**
Although it is a great utility

[2017-10-25 06:01] #129 closed

[2017-10-25 06:02] #130 closed

[2017-10-25 06:03] #127 closed

[2017-10-25 06:21] zamhaq commented on #158
@ms10398 wouldn't that bring some security issues? A user might copy his credit card details and that would  be pasted into susi's input field.

[2017-10-25 06:26] gabru-md commented on #158
I agree with @zamhaq as it does pose some security issues as he discussed above.
So i believe this should be left for now until we arrive at a conclusion or alternate idea to make it.
Is it okay @ms10398 ?

[2017-10-25 07:38] ms10398 commented on #158
There will be different option for copying into susi other than simple copy option.
Whats your thought?

[2017-10-25 07:43] ms10398 commented on #145
This can be closed @stealthanthrax @zamhaq

[2017-10-25 08:11] ms10398 commented on #100
Can I work on it as I have figured out a way to do it and implemented it.

[2017-10-25 08:16] zamhaq commented on #100
@ms10398 sure

[2017-10-25 08:20] ms10398 opened #159 "Speak now doesnt follows dark theme in the mode"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When we click on voice input button in dark mode the speak now container doesnt follows dark theme

**Expected behavior:**
It should follow the dark theme in

[2017-10-25 09:08] gabru-md commented on #156
Yes it definitely is a good idea. I was thinking of proposing it as well.
:+1:

[2017-10-27 08:28] akshatnitd commented on #159
@ms10398 Let me know if you are not working on it, I am free to work on it

[2017-10-27 08:29] ms10398 commented on #159
I am working on it will make a PR today or till tom morning.
Thanks

[2017-10-27 08:30] akshatnitd commented on #156
@zamhaq Are you working on it ? I am free to work on the issue

[2017-10-27 11:19] zamhaq commented on #156
@akshatnitd yes I am. Please look into this issue #149 and leave a comment there if you would like to work on that. 😀

[2017-10-28 13:39] zamhaq commented on #156
@gabru-md @ms10398 I think the time for this refactoring is too high. Changing the structure while current PR's are incoming is also difficult since, I would have to manually go and change those things in the split files while I am working on this or I will have to block other PR's first and then later when the new structure is uploaded then tell the PR makers to make the necessary changes. Both w

[2017-10-28 13:54] gabru-md commented on #156
@zamhaq It is okay!
You can focus on the exams for now. I think that with the current rate of development it will be difficult for us to split one script into multiple files as well. But I suppose that this idea must not be dropped but can be **kept on a hold** while we undergo development.
Cheers!
All the best for your exams!

[2017-10-28 14:00] zamhaq commented on #156
Ok then, after my exams I will continue my work, and maybe we can collaborate on splitting the file.

[2017-10-28 14:10] ms10398 commented on #156
Yes sure @zamhaq we can go for it after a while surely :+1:

[2017-10-28 21:53] akshatnitd opened #161 "Make changes in the manifest for Options page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Options button is disabled when we right-click on the extension icon.

**Expected behavior:**
Create an options page for the extensions

[2017-10-29 04:54] ms10398 commented on #161
@gabru-md @zamhaq Please have a look I didnt find the issue and the relevant PR useful as it opens a new tab with the option to allow mic for the user which we had already shifted to a new popup from the tab.

[2017-10-29 06:13] akshatnitd commented on #161
@ms10398 It is just another way of launching the Settings page.

[2017-10-29 06:15] gabru-md commented on #161
I agree with @ms10398 as we've already had that feature implemented. And then depreciated it as well.
@zamhaq is busy with his exams so this must be kept on a hold i guess. He will have a look when he is free.
Thanks !

[2017-10-29 23:30] mariobehling opened #164 "Follow SUSI Webchat design and move drop down menu to the right"
SUSI Webchat keeps the drop down menu on the right. Also, the button for night mode should move to the "Themes" button (also needs to be changed in SUSI Web chat).

[2017-10-29 23:32] mariobehling opened #165 "Follow SUSI.AI architecture and get chat history from server"
Currently chat history is stored in local storage. This local storage should be synced with the server that keeps SUSI.AI logs. User should be able to log in and have a consistent chat history across devices, e.g. if someone uses SUSI.AI on Android and then switches to the Chrome bot.

Please implement a common approach and ensure the chat is following the existing architecture.

[2017-10-29 23:42] #151 closed

[2017-10-29 23:47] #100 closed

[2017-10-30 06:24] zamhaq commented on #165
@mariobehling I have already put up an issue https://github.com/fossasia/susi_chromebot/issues/149. I was working on it but because of exams, I am unable to work much. If anyone else wants to work on it and can provide the `PR` early, please leave a comment here and do so. Thanks.

[2017-10-31 09:46] ms10398 commented on #161
I think we can close the issue and the referenced PR as well

[2017-10-31 09:46] ms10398 commented on #164
I would like to work on it @mariobehling
I want to ask where should the theme option should be put exactly do you mean to put it in the dropdown.

[2017-10-31 09:47] ms10398 commented on #120
This issue can now be closed I think @stealthanthrax as the relevant PR is already merged

[2017-10-31 09:50] ms10398 commented on #139
@stealthanthrax If you need help I would like to work on it.

[2017-10-31 09:50] ms10398 commented on #141
Whats the status @techpool

[2017-10-31 15:52] zamhaq commented on #139
@stealthanthrax what's the progress on this issue?

[2017-10-31 19:40] stealthanthrax commented on #139
I was trying to close the previous issue which has been closed now,(adding
descriptive logos),prior to this issue.And now that has been closed, I'll
be adding the pr within a few days.:smile:

On Tuesday, October 31, 2017, Zameer Ul Haque <notifications@github.com>
wrote:

[2017-11-01 09:51] techpool commented on #141
Has been a bit busy with office and with another tech conference lined up this week might not be able to create a PR immediately. But I should be sending a PR by the end of this week.

[2017-11-01 16:55] ms10398 opened #166 "Add indication if chat history is empty"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is no message shown if chat history is empty

**Expected behavior:**
Susi should prompt something like susi firefoxbot

**Would y

[2017-11-01 22:53] hkedia321 commented on #158
This feature was dropped down recently in firefox extension. We thought it's an overkill to have both the copy features. User can simply copy and paste the query manually if they want to edit the query before asking SUSI.

[2017-11-02 02:14] #158 closed

[2017-11-02 06:22] hkedia321 opened #167 "Dark theme doesn't apply to loading message"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
**Current behavior:**
The dark theme doesn't apply to the message container showing the loading icon.
![screenshot from 2017-11-02 11-37-43](https://user-images.githubusercontent.com/17807257/32312506-2b65cfb4-bfc4-11e7-86be-9262d5a5db93.png)

**Expected behavior:**
Dark theme should be set to the message container showing the loading

[2017-11-02 17:58] ms10398 opened #169 "Show icon to jump to the bottom of chat"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When the user scrolls above, No button to jump to the bottom of the chat.

**Expected behavior:**
Add a button enabling user to immedia

[2017-11-02 18:35] gabru-md commented on #157
@ms10398 I would like to add this task to GCI-17 as an advanced task. If you have not started working on it please let me know so that I can add this.

[2017-11-02 18:42] ms10398 commented on #157
I was going to make a PR today night @gabru-md

[2017-11-02 18:53] ms10398 commented on #157
Yeah sure @gabru-md

[2017-11-04 08:13] stealthanthrax commented on #139
@zamhaq @ms10398 @zamhaq ,the ux of login portal is complete , so can i use google/facebook/github authentication with it?

[2017-11-04 08:59] ms10398 commented on #156
@gabru-md @zamhaq I am putting it as a Google code-in task for the Google code-in students.

[2017-11-04 10:03] zamhaq opened #170 "Convert es5 to es6 code"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Script.js contains es5code
**Expected behavior:**
Replace es5 code to es6 wherever applicable. For example replace ordinary functions w

[2017-11-04 10:03] zamhaq commented on #170
Putting this up for code-in

[2017-11-04 10:09] ms10398 commented on #170
:+1:

[2017-11-04 15:24] ms10398 opened #172 "Writing tests"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There are no tests written for susi chromebot

**Expected behavior:**
There should be tests for susi chromebot

**Would you like to wor

[2017-11-04 23:59] #169 closed

[2017-11-05 00:07] #167 closed

[2017-11-05 09:09] #112 closed

[2017-11-05 09:27] zamhaq opened #173 "Change border to susi themed blue color around the drop to end of message button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
"Drop to end of message list" button has a white background and a white border which is quite difficult to recognize when it's on top o

[2017-11-05 09:36] zamhaq opened #174 "Save table data also in the browser storage"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Table response data is not saved in the browser storage.

**Expected behavior:**
Table responses should also be saved on extension clos

[2017-11-05 17:58] akshatnitd opened #176 "Add proper styling to drop-down menu"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
* The dropdown menu icon is too close to the boundary.
* The menu items of drop-down has inappropriate padding and the icons are not at

[2017-11-05 18:02] ms10398 commented on #176
It is already being handled by https://github.com/fossasia/susi_chromebot/issues/164 so this issue doesnt have relevance.

[2017-11-05 18:04] akshatnitd commented on #176
@ms10398 Can I work on that issue?

[2017-11-05 18:08] akshatnitd commented on #164
@ms10398 Are you working on it ?

[2017-11-05 18:37] ms10398 commented on #164
Yes @akshatnitd

[2017-11-05 19:21] zamhaq commented on #139
@stealthanthrax Can you make the PR if you have completed your work. What do you mean by UX portal? You can use google/facebook/Github authentication if it is being used in webchat too. But, first please implement the login feature using susi server api. Please make the PR soon as I need to work on this https://github.com/fossasia/susi_chromebot/issues/165 which depends on this login feature. Ment

[2017-11-05 19:33] #120 closed

[2017-11-05 19:33] stealthanthrax commented on #139
@zamhaq ,since the google/facebook/github authentication are not being used on the web app.So,I was confused on using it and posted a question on gitter channel regarding it. And regarding the pr,i'll be putting it up in the coming week.

[2017-11-05 19:33] zamhaq commented on #141
@techpool what's the status?

[2017-11-05 19:35] zamhaq commented on #139
Please try to do it by this week @stealthanthrax. It has already been about two weeks since took it up.

[2017-11-06 05:30] #176 closed

[2017-11-06 12:52] stealthanthrax commented on #89
@ms10398 , i think we should assign it as a GCI task?

[2017-11-06 12:53] gabru-md commented on #89
It has been done @stealthanthrax

[2017-11-06 19:54] stealthanthrax opened #178 "To improve the theme profiles in the description"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Right now there is no description of themes and the fonts being used.

**Expected behavior:**
To add a description some what like this

[2017-11-12 18:56] techpool commented on #170
I would like to take this up.

[2017-11-12 19:20] ms10398 commented on #170
This is a task put for Google Code-in @techpool

[2017-11-13 21:08] stealthanthrax commented on #146
@gabru-md @zamhaq , any suggestions regarding the placement of url input bar?

[2017-11-13 21:18] stealthanthrax commented on #146
I was thinking of adding a **simple input bar** under the susi heading

[2017-11-14 11:26] gabru-md commented on #159
Has this issue been resolved ?

[2017-11-14 12:49] ms10398 commented on #159
Had been a bit busy due to exams will make a relevant PR soon

[2017-11-15 05:04] djmgit commented on #159
@ms10398 if you are busy with some other stuff as you mentioned (and it can definitely happen), you may consider your other co-developer to work on it and collaborate, as it will divide the work load and speed up things, also the PR as well as the issue is open for several days (approx 3 weeks).

[2017-11-15 05:07] akshatnitd commented on #159
@ms10398 As the PR for this issue is due for a long time, I am sending the PR I had made for this issue earlier.

[2017-11-15 10:04] #166 closed

[2017-11-15 20:04] zamhaq opened #183 "Fix permissions"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The extension has the permission to `Read and change all the data on the websites that you visit`.

**Expected behavior:**
Check if its

[2017-11-15 20:13] ms10398 commented on #183
I would like to fix this.

[2017-11-16 04:27] ms10398 opened #185 "Clean up Console"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There are console logs in the extension when we use it.

**Expected behavior:**
Clean up all console logs from the console which were u

[2017-11-16 04:49] zamhaq opened #186 "Table responses not showing the websites for universities"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The table does not show the corresponding university site.

**Expected behavior:**
The website column should display the corresponding

[2017-11-16 09:19] stealthanthrax opened #187 "The need to have a separate page for settings option"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
New features need a proper a separate page

**Expected behavior:**
To make a separate page for settings page

Your operating system

**

[2017-11-18 21:25] #159 closed

[2017-11-21 13:25] #183 closed

[2017-11-26 13:30] ms10398 commented on #165
@zamhaq I am work on this issue as this issue can be implemented now.

[2017-11-26 13:33] zamhaq commented on #165
Yeah go for it, it would be good if you provide the PR soon.

[2017-11-26 13:36] ms10398 commented on #165
Thanks will provide the PR in a day or two.

[2017-11-26 14:09] ms10398 commented on #139
This should be closed as the relevant PR is merged.

[2017-11-26 16:09] ms10398 opened #191 "Fix login button alignment"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Login button is not correctly aligned

**Expected behavior:**
Align login button correctly

**Steps to reproduce:**
Open the login page

[2017-11-27 16:19] #139 closed

[2017-11-27 16:24] stealthanthrax opened #193 "To add a variety of voices (of different genders and accents according to the user prference)"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Susi only has a male voice

**Expected behavior:**
To have more than one voices

**Would you like to work on the issue?**
  Yes
[code]

[2017-11-28 09:07] ka2311 commented on #185
I would like to work on this issue. Can I proceed?

[2017-11-28 09:20] ms10398 commented on #185
There was some major changes as the login feature is being added so for now this issue was on hold as the console would be used to debug in login feature.

[2017-11-28 09:58] ka2311 commented on #185
thanks for update

[2017-11-28 10:14] ka2311 commented on #173
I would like to work on this issue. Can I proceed?

[2017-11-28 10:48] stealthanthrax commented on #173
@ka2311 ,this task is reserved for GCI students.

[2017-11-30 03:57] #186 closed

[2017-11-30 03:58] zamhaq commented on #165
@ms10398 have you started working on it? If not then I can work on it now.

[2017-11-30 04:03] ms10398 commented on #165
You can go ahead I have been busy with GCI and exams

[2017-11-30 11:48] stealthanthrax commented on #187
@ms10398 @zamhaq @gabru-md ,only a bit of backend work is pending.Till then could you please suggest design edits?.
This is the proposed design
<img width="1129" alt="screen shot 2017-11-30 at 5 15 43 pm" src="https://user-images.githubusercontent.com/29942790/33429331-653e3f2a-d5f2-11e7-9b39-3d430d570d6f.png">

[2017-11-30 12:12] ms10398 commented on #187
@stealthanthrax it looks good

[2017-11-30 12:13] ms10398 commented on #187
Can we add any new feature or should we keep it like this

[2017-11-30 12:40] stealthanthrax commented on #187
@ms10398 , suggest any feature that you have in mind?

[2017-11-30 13:07] ms10398 commented on #187
I was thinking can you add login option and settings page on a single page with seperate tabs or pane
then it would be better what do you think @zamhaq @gabru-md

[2017-11-30 19:52] stealthanthrax opened #197 "To add a selection of predefined colored themes as in the web app"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only light and dark themes are available

**Expected behavior:**
More than two choices for default themes

**Would you like to work on

[2017-11-30 20:04] stealthanthrax commented on #187
@ms10398 , i was also thinking of using different tabs for future updates.But can we add them in future PR's?

[2017-11-30 20:27] #145 closed

[2017-12-01 11:08] stealthanthrax commented on #197
@zamhaq @gabru-md @ms10398

[2017-12-01 11:23] gabru-md commented on #197
I would like to work on this .

[2017-12-01 11:39] stealthanthrax commented on #197
@gabru-md , i was working on it, just wanted to ask whether it's required or not. :smile:

[2017-12-02 10:21] abishekvashok opened #198 "Enable like and dislike buttons as in chat.susi.ai"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There are no like and dislike buttons to get response from the user about a particular message.
![image](https://user-images.githubuser

[2017-12-02 10:26] stealthanthrax commented on #198
@abishekvashok , i would like to work on this issue

[2017-12-02 10:31] stealthanthrax opened #199 "To make certain features login specific"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
All the existing features are available to every user.

**Expected behavior:**
To make certain features only login specific that provid

[2017-12-02 11:22] abishekvashok commented on #198
@stealthanthrax sure go on.

[2017-12-02 12:31] ms10398 commented on #199
@stealthanthrax you are already working on many other issues you should other devs also work on issues which makes the development process fast there are issues which are stagnant. Just a advice to take the best advantage of Open Source

[2017-12-02 14:36] stealthanthrax commented on #199
@ms10398 , I am very excited to be a part of team FOSSASIA and hence keep taking and working on issues 😃

[2017-12-02 14:39] ms10398 commented on #199
yeah but right now you have already took around 5+ issues which makes other dev not possible to work on those issues.

[2017-12-02 15:19] #191 closed

[2017-12-02 15:58] 0x48piraj commented on #89
I'm on it! :heart:

[2017-12-02 17:14] 0x48piraj opened #201 "Improve UI, Re-Position the Send Button."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current UI Design:**

![image](https://user-images.githubusercontent.com/5800726/33517861-92ed9a0e-d7b1-11e7-8e08-d0ed41963c3c.png)

**Expected behavior:**

[2017-12-02 17:18] ms10398 commented on #201
It shows correctly in my Computer and almost for everyone check once again!

[2017-12-02 17:20] zamhaq commented on #201
@0x48piraj how's that possible? We did correct it. Maybe positions are fixed value and that is causing this issue. Please mention your browser version. 😅

[2017-12-02 17:40] 0x48piraj commented on #201
![image](https://user-images.githubusercontent.com/5800726/33518135-f867e6c4-d7b5-11e7-8b29-f3dcec7760da.png)

Maybe I should add check on `bug` checkbox too :wink:

[2017-12-02 17:43] zamhaq commented on #201
@0x48piraj yeah. You can work on it ☺️ see what's causing the issue and what can be done.

[2017-12-02 17:46] 0x48piraj commented on #201
@zamhaq Please approve my task on GCI!

[2017-12-02 17:55] 0x48piraj opened #202 "The UI Should be more Agile!"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
![feature](https://user-images.githubusercontent.com/5800726/33518231-98296506-d7b7-11e7-949b-5d59da4454dc.gif)
![feature1](https://use

[2017-12-02 17:57] ms10398 commented on #202
There is a issue for moving dropdown to the right and moving theme option into it so maybe this issue would be covered in it!!

[2017-12-02 17:58] ms10398 commented on #202
https://github.com/fossasia/susi_chromebot/issues/164

[2017-12-02 17:58] ms10398 commented on #164
This issue is open to claim as I am busy with solving other issues

[2017-12-02 18:01] 0x48piraj commented on #164
Claiming!

[2017-12-02 18:02] ms10398 commented on #164
Yes sure go ahead

[2017-12-02 20:19] ms10398 opened #203 "Jump to button should follow dark theme"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The jump to bottom button doesn't follows the dark theme

**Expected behavior:**
It should follow the dark theme

**Screenshot**
![scre

[2017-12-03 05:49] abishekvashok commented on #198
Opened it as part of GCI.
Link to my task: https://codein.withgoogle.com/dashboard/task-instances/6704962555871232/

[2017-12-03 07:29] stealthanthrax commented on #198
@abishekvashok , i am not a gci participant . Let the others take it up 😄

[2017-12-03 07:48] abishekvashok commented on #198
@stealthanthrax not in my concern.

[2017-12-03 08:14] gabru-md commented on #198
I don't have an idea about it. But since GCI is going on i guess it will be great to leave it for the students to pick this task up.

[2017-12-03 08:59] stealthanthrax commented on #198
@gabru-md, i'll leave it for the GCI participants and If anyone wants help regarding this issue, he/she can refer my fork . 😄

[2017-12-03 12:47] #89 closed

[2017-12-03 12:58] 0x48piraj commented on #89
@gabru-md Can I know the task `url` ?
I'm having difficulty finding that one.

[2017-12-05 01:30] Jerry2001 opened #206 "Auto-close extension window"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The extension window closes everytime I switch to a different tab or application.

**Expected behavior:**
The extension window should b

[2017-12-05 15:47] #146 closed

[2017-12-05 15:50] #164 closed

[2017-12-05 15:55] zamhaq commented on #206
@Jerry2001 Thanks for reporting. But I think Chrome does not allow to do that. Therefore, closing this issue.

[2017-12-05 15:55] #206 closed

[2017-12-05 15:58] zamhaq opened #207 "Enable sent ticks on messages"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

No `sent ticks` on messages which are successfully sent to the server.

**Expected behavior:**
Enable sent ticks as done in susi webch

[2017-12-05 15:59] ms10398 commented on #207
I would like to work on it just as the susi chromebot starts interacting with the server

[2017-12-05 16:02] zamhaq commented on #207
@ms10398 My exams are starting tomorrow, if I don't make a `PR` by 7th then #165 should be open. You can work on it if you'll be free.

[2017-12-05 16:04] ms10398 commented on #207
Will try to same exams going on here too :disappointed:
But will try to work :smile:

[2017-12-05 16:43] stealthanthrax commented on #187
close via PR #196

[2017-12-05 16:43] #187 closed

[2017-12-05 16:50] stealthanthrax opened #208 "Organise code and fix indendation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
All the files are clustered now

**Expected behavior:**
To put all files in separate folder (diff folders for js and css folders)

**Wo

[2017-12-05 17:07] ms10398 commented on #208
@stealthanthrax We had already put up as GCI task

[2017-12-05 17:28] stealthanthrax commented on #208
But, i made a pr few days back

[2017-12-05 17:29] ms10398 commented on #208
About what

[2017-12-05 17:35] stealthanthrax commented on #208
Regarding this issue , assuming it to be a quick pr, i didn't create an issue

[2017-12-05 17:36] ms10398 commented on #208
Regarding which issue

[2017-12-05 17:41] stealthanthrax commented on #208
@ms10398 , i can't understand your query

[2017-12-05 17:43] ms10398 commented on #208
Oh okay got it!! Sorry

[2017-12-06 08:31] ducminh198 opened #210 "It needs an avatar!"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Talking to just a name is boring.

**Expected behavior:**

I think Susi should have an avatar on the corner.

**Steps to reproduce:**

[2017-12-06 08:46] YashKumarVerma opened #211 "Sharing Conversations on Social-Media or export"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Conversations with an ai bot can sometimes become very interesting and sending screenshots to people can be tedious often. To share a c

[2017-12-06 12:00] awesometushar000 opened #212 "Intergration of Calculator in SUSI bot"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Expected behavior:**

There should be a calculator in SUSI bot which add up the things for us.
Can we try to add https://github.com/fossasia/Ember_Simple_C

[2017-12-06 12:56] stealthanthrax commented on #212
I think we can add/edit some skills , but adding a feature will only make the extension heavy .@zamhaq @gabru-md @ms1038

[2017-12-06 13:32] zamhaq commented on #212
@stealthanthrax that should be done through skills.

[2017-12-06 13:34] ms10398 commented on #212
Yes agreed with both of you @stealthanthrax @zamhaq

[2017-12-06 13:47] gabru-md commented on #212
I guess there is a Woflram Alpha skill for computing mathematical expressions. You might want to check that out on susi.

[2017-12-06 13:49] zamhaq commented on #212
@gabru-md susi can already perform calculations. This issue can be closed?

[2017-12-06 16:10] supunTE opened #213 "Add commands"
**I'm submitting a ...**
enhancement

**Expected behavior:**
SUSI can't run commands now.
I say can you add commands for the SUSI.
If I said surf google it could be find it.

**Would you like to work on the issue?**
no

[2017-12-06 20:03] stealthanthrax opened #214 "Adding the a login through facebook sdk"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only able to login through susi server

**Expected behavior:**
To be able to login via face

**Related code:**

Using the facebook sdk

[2017-12-08 10:18] mariobehling commented on #214
Adding to other networks should happen through the server. Please open an issue in SUSI.AI Server.

[2017-12-08 10:18] #214 closed

[2017-12-09 16:12] stealthanthrax commented on #199
@zamhaq @ms10398 @gabru-md , should i make the complete settings page login specific ?

[2017-12-09 20:10] ms10398 opened #216 "Code Documentation"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Code is not well documented.

**Expected behavior:**
Code should be well documented.

**Would you like to work on the issue?**
GCI Task

[2017-12-09 20:13] stealthanthrax commented on #216
@ms10398 , an issue is already there and is a GCI task

[2017-12-09 20:14] ms10398 commented on #216
Which issue?

[2017-12-11 01:52] #203 closed

[2017-12-11 11:59] #208 closed

[2017-12-13 16:11] stealthanthrax opened #219 "To shift the dark theme toggler in themes page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The theme toggle button is on the top left.

**Expected behavior:**
To add it in the menu inside the drop-down menu like in chat.susi.a

[2017-12-13 17:18] acamit commented on #156
@ms10398 @zamhaq  I would like to work on this issue. Is anyone working on it currently?

[2017-12-13 17:49] ms10398 commented on #156
Are you a GCI participant

[2017-12-13 18:01] acamit commented on #156
No, i am not gci participant.

Thanks and Regards
Amit Chawla

On 13 Dec 2017 11:19 pm, "Mohit Sharma" <notifications@github.com> wrote:

[2017-12-13 18:08] stealthanthrax commented on #156
@acamit , this task is reserved for GCI participants ,you can browse other tasks on this repo 😄

[2017-12-13 19:13] gabru-md commented on #219
Seems to me as am irrelevant issue.
Keeping it on the popup.html guves more accessibility  to the extension. And i gueas that this idea must be dropped.

[2017-12-14 11:18] stealthanthrax commented on #219
@gabru-md , I agree that it increases accessibility but since we were trying to make cbot paralle to web app , I though this issue must be created.

[2017-12-14 11:25] stealthanthrax opened #220 "To create a feature allowing to change password directly through the chromebot"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only being able to change the password via the main app

**Expected behavior:**
To be able to change password from the chromebot

**Rel

[2017-12-14 11:29] ms10398 commented on #220
Can I work on it

[2017-12-14 11:36] ms10398 commented on #220
As I was free and you are already assigned to many issues

[2017-12-14 15:25] stealthanthrax commented on #201
@0x48piraj , what's the status ?

[2017-12-14 16:49] stealthanthrax commented on #220
I have partially worked on it and will complete it soon 😄.And  regarding the issues, only one is pending and will make a PR tonight 😄

[2017-12-14 17:23] 0x48piraj commented on #201
@stealthanthrax
I debugged the **chromebot**, but it didn't helped me much, as the bug out of nowhere pops in this specific version of chrome.
I think, I should start debugging the chrome browser itself to dig deeper.
I'm new to software debugging, setting breakpoints/faults, so It's taking time. :worried:

[2017-12-14 17:30] ms10398 commented on #220
Okay thats good

[2017-12-14 18:30] stealthanthrax commented on #201
@0x48piraj , try using relative widths or adding media queries for a device resolution greater than a certain value.

[2017-12-15 16:17] stealthanthrax opened #222 "To add a loading feature in the login form"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The login feature while loading gives no indication

**Expected behavior:**
To add a loader gif or a self-created pre-loader

**Would y

[2017-12-15 20:13] akshatnitd opened #223 "Improve the UI of the settings page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The buttons are not aligned properly and UX of settings page is poor.

**Expected behavior:**
Buttons should be aligned properly and UI

[2017-12-15 21:48] akshatnitd opened #225 "Improve the UI/UX of options page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The UI doesn't look that good and bootstrap hasn't been integrated correctly.
![12](https://user-images.githubusercontent.com/12656846/

[2017-12-16 06:44] akshatnitd commented on #222
Claiming :rocket:

[2017-12-16 06:55] akshatnitd commented on #222
I have made a PR for it. Will send a PR, once #224 gets merged :smile:

[2017-12-17 11:53] stealthanthrax opened #227 "A bug in the login form"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently, the user log's out just when the page is refreshed

**Expected behavior:**
Logged in even after refreshing

**Steps to repro

[2017-12-17 13:00] ms10398 opened #228 "Sync theme settings if user is logged in"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently, if the user is logged in and changes the theme setting the theme settings is not saved on the server.

**Expected behavior:*

[2017-12-17 13:46] ms10398 opened #229 "Add option for recover password"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is no such feature right now

**Expected behavior:**
User can request to reset password from chromebot

**Would you like to work

[2017-12-17 14:00] ms10398 opened #230 "Add option to signup from the chromebot"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently no option for signup is there

**Expected behavior:**
Add option of signup through signup

**Would you like to work on the is

[2017-12-17 14:11] ms10398 opened #231 "Login is not working"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
JS file to login page is not linked

**Expected behavior:**
JS file should be linked so that the login page works

**Steps to reproduce

[2017-12-17 14:14] gabru-md commented on #231
That might just be an error for you since i am not encountering any such error. Please check and notify before proceeding :+1:

[2017-12-17 14:15] ms10398 commented on #231
I checked it
Please update your fork

[2017-12-17 14:18] gabru-md commented on #231
Sure. Will let you knwo once i do.

[2017-12-17 14:19] ms10398 commented on #231
Okay sure let me know soon as i am already ready with the PR

[2017-12-17 14:24] stealthanthrax commented on #231
@ms10398, this issue is fixed in pr adding the option of changing the password

[2017-12-17 14:26] ms10398 commented on #231
okay but i saw there was no notification please do norify before doing so that there is no confusion

[2017-12-17 14:33] ms10398 commented on #231
Close it when your PR merges

[2017-12-17 15:00] stealthanthrax commented on #231
Ok,sorry.Will do it from the next time

[2017-12-17 15:01] stealthanthrax commented on #231
:smile

[2017-12-18 03:54] ms10398 opened #232 "Console Errors"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
After the recent updates in chromebot there are console error persisting in it.

**Expected behavior:**
There should be no console erro

[2017-12-18 04:10] rupav commented on #207
can I do it? @ms10398 ?

[2017-12-18 04:11] rupav commented on #178
@zamhaq @stealthanthrax please add a GCI label.

[2017-12-18 04:12] ms10398 commented on #207
Actually right now susi is not syncing messages with server thats why this issue has to wait for it to interact with it.
You can work on the issue of syncing chat history from server as right now noone is working on it.

[2017-12-18 06:36] stealthanthrax opened #234 "To include a documentation of susi_server"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No documentation regarding the susi API is present in the chromebot docs

**Expected behavior:**
To add docs like in the web chat and s

[2017-12-18 06:45] ms10398 commented on #234
I dont think this is needed as there is no specific feature or API to document here.

[2017-12-18 06:46] ms10398 commented on #234
And API is documented in chat.susi.ai very well

[2017-12-18 06:47] ms10398 commented on #234
Exactly docs like what you are talking can you provide a example

[2017-12-18 07:34] stealthanthrax commented on #234
@ms10398 , I was referring to docs like these: https://github.com/fossasia/chat.susi.ai/blob/master/docs/ACCOUNTING.md,

But these docs are **specifically** for chat.susi.ai, I wanted to make one for the chromebot, so that a new contributor does not have to look the docs of other projects.

[2017-12-18 08:11] ms10398 commented on #234
I know that doc but as we see that doc shouldnt be included in this project as we are using it and not creating it
Still @gabru-md @zamhaq @mariobehling Whats your views

[2017-12-18 08:16] zamhaq commented on #234
There is no much need for the docs. The `API` we are using as mentioned by @ms10398 are not created by us. We can have links that points to those API docs. Other things about the features that we provide might be included, but that can be done by GCI students and I think we should have this as a GCI task. About the code documentation,  there is already a GCI task I think where it is mentioned to c

[2017-12-18 16:30] stealthanthrax opened #235 "To organize the settings page with multiple tabs rather than a continuous page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The settings page is a continuous page

**Expected behavior:**
To organize the settings page with multiple tabs rather than a continuou

[2017-12-18 17:32] ms10398 commented on #235
Can you explain it a bit more about it

[2017-12-18 19:35] stealthanthrax commented on #235
@ms10398 , similar to an idea you suggested, of accessing different features on the same page but on different tabs.

[2017-12-19 07:15] ms10398 opened #236 "Console Errors"

[2017-12-19 09:48] #236 closed

[2017-12-19 13:57] stealthanthrax commented on #235
<img width="1019" alt="settings idea" src="https://user-images.githubusercontent.com/29942790/34160375-b2afd214-e4f2-11e7-8cbb-d07a54f836fe.png">
Like this^

[2017-12-19 14:02] stealthanthrax commented on #234
@zamhaq , this seems cool,we can either link this issue to the gci one and keep it open till it is solved or update the gci task itself?

[2017-12-19 14:05] ms10398 commented on #235
You should give it a try lets see how it looks
Good Luck!!

[2017-12-20 08:56] stealthanthrax opened #238 "Adding the option to change the color of the message pane"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No feature to change color of the message pane

**Expected behavior:**
To allow custom colors for the message pane

**Would you like to

[2017-12-22 18:10] #197 closed

[2017-12-22 18:10] #223 closed

[2017-12-24 09:20] gabru-md commented on #238
I think this issue is easy and can be done by a student during GCI ?
If nobody takes it up then it can be assigned to you?

[2017-12-24 09:53] stealthanthrax commented on #238
but , to add it as a gci issue , it should be approved in the docs, but since there many beginner issues which are still untouched, so, we can try waiting for its approvall?

[2017-12-24 14:08] #211 closed

[2017-12-24 14:11] zamhaq opened #241 "Export to JSON file does not export the previousy had chats"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Does not export previous chat data

**Expected behavior:**
Should export all chat data

**Steps to reproduce:**
1. Open chromebot
2. Se

[2017-12-24 14:18] zamhaq commented on #201
@0x48piraj have you tried fixing this? Are you still facing the UI issues as before? Can you update your fork and check? Thanks.

[2017-12-24 14:18] stealthanthrax commented on #241
I would like to work on it

[2017-12-24 14:19] zamhaq commented on #241
@stealthanthrax how many issues are you assigned to currently?

[2017-12-24 14:22] #232 closed

[2017-12-24 14:24] stealthanthrax commented on #241
@zamhaq , only one whose PR is yet to be made

[2017-12-24 14:29] zamhaq commented on #241
@stealthanthrax sure go ahead

[2017-12-24 16:09] gabru-md commented on #241
@zamhaq Please use `Squash and merge` whenever merging a new PR.
Else it gives an unclear commit history.
See here: https://github.com/fossasia/susi_chromebot/commits/master

Cheers!

[2017-12-24 16:10] gabru-md commented on #238
students are only working on anything else than the GCI websites so if we could create some basic tasks for them to encourage them, it would be just great!

rest is upto you. :)

[2017-12-24 18:51] 0x48piraj commented on #201
I'll update my fork and will test again!

[2017-12-25 04:54] gabru-md commented on #234
@stealthanthrax there seems a lot of issues that you have taken up. kindly refrain from taking more than one issue at once to encourage your peers to work on them as well.
:+1:

[2017-12-25 09:48] stealthanthrax opened #242 "Themes not working"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Changing themes has stopped working

**Expected behavior:**
Clicking on submit button should change the theme

**Other information:**
I

[2017-12-25 09:48] stealthanthrax commented on #242
@ms10398 @zamhaq @gabru-md , please have a look.

[2017-12-25 12:26] ms10398 commented on #242
Wait I will send a quick fix of it soon

[2017-12-25 13:04] ms10398 commented on #242
Fixed it!
Have a look

[2017-12-26 06:49] #225 closed

[2017-12-26 06:54] #242 closed

[2017-12-26 16:48] YashKumarVerma commented on #211
SOLVED !!!
![screenshot 283](https://user-images.githubusercontent.com/14032427/34360826-6d2701b6-ea8a-11e7-90ad-be0318673c55.png)
FINALLY DONE 🔥

[2017-12-27 18:19] arnav-mandal1234 commented on #238
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:30] arnav-mandal1234 commented on #227
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:31] arnav-mandal1234 commented on #213
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:33] arnav-mandal1234 commented on #185
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:34] arnav-mandal1234 commented on #157
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:34] arnav-mandal1234 commented on #170
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:35] arnav-mandal1234 commented on #241
Hello Sir,
I am a newbie to opensource.Can I take this task?

[2017-12-27 18:36] stealthanthrax commented on #170
@arnav-mandal are you a Gci student?

[2017-12-27 18:38] arnav-mandal1234 commented on #170
No, I am a GSoC aspirant.It would be mine first task for the open source.If I can take this task it will be helpful for me to make a contribution to harder stuff and projects.

[2017-12-27 18:38] stealthanthrax commented on #238
@arnav-mandal1234 , go ahead.

[2017-12-27 18:40] stealthanthrax commented on #170
@arnav-mandal1234 ,but this task is reserved for gci students . You can browse other issues.
Also, no need to call us sirs 😄

[2017-12-27 18:41] arnav-mandal1234 commented on #170
okay, no problem But I could get it I would have helped me a lot!

[2017-12-27 18:43] stealthanthrax commented on #219
@gabru-md @ms10398 @zamhaq @akshatnitd , what should be done here now?

[2017-12-27 18:44] gabru-md commented on #219
I still hold my point.

[2017-12-27 20:58] arnav-mandal1234 commented on #238
@stealthanthrax  what do you mean by message pane? can you elaborate? which part if the message pane?

[2017-12-28 05:21] stealthanthrax commented on #227
This task has an open PR with reference to it

[2017-12-28 06:35] saikat041 opened #246 "Showing error in logging using bootstrap alert instead of alert."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
If there is any error in logging then it is shown using alert.

**Expected behavior:**
The error will be shown using bootstrap alert c

[2017-12-28 06:51] gabru-md commented on #231
close this ?

[2017-12-28 06:53] gabru-md commented on #238
By message panes he means the bubble in which messages appear.

[2017-12-28 07:21] gabru-md commented on #241
sure @arnav-mandal1234

[2017-12-28 07:53] gabru-md opened #247 "Login button should change to Logout"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Once the user has logged in, the side panel shows Login
**Expected behavior:**

The side panel must change from Login to Logout

**Ste

[2017-12-28 07:55] gabru-md commented on #247
Will be sending a PR soon enough

[2017-12-28 08:43] stealthanthrax commented on #141
Can i try and work on this @zamhaq @gabru-md @ms10398

[2017-12-28 08:55] stealthanthrax commented on #241
@gabru-md ,this issue is assigned to me

[2017-12-28 09:14] saikat041 commented on #246
I will send PR plz review it

[2017-12-28 14:25] YashKumarVerma opened #249 "Export icon mismatch with others"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
-current icon doesn't match with others

**Expected behavior:**
-uniform icons

**Steps to reproduce:**
-change the icons

**Would you

[2017-12-28 15:38] stealthanthrax commented on #249
@YashKumarVerma , what is it that is not matching?

[2017-12-29 04:04] #227 closed

[2017-12-29 04:15] zamhaq opened #252 "Create options page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Settings page opens in a separate window through the extension URL.

**Expected behavior:**
Follow a more standard way of setting up ex

[2017-12-29 04:22] #222 closed

[2017-12-29 06:45] ms10398 commented on #252
What you want us to add to the options page?
There is a page should we change it into options page
Whats your thought

[2017-12-29 09:15] gabru-md commented on #252
I do no get what is it about ?

[2017-12-29 09:17] zamhaq commented on #252
@ms10398 sure do that. @gabru-md Check the second extension in the screenshot above, I think our settings should also be option page, that is the standard way to store settings for extensions.

[2017-12-29 09:25] gabru-md commented on #252
Can I work on this? I would like to try my hands on this
and btw please see my PR #248

[2017-12-29 09:27] zamhaq commented on #252
@gabru-md sure anytime.

[2017-12-29 09:33] gabru-md commented on #252
Should we also remove the `settings` link from chromebot, that actually opens the `options.html` ?
or keep it as well ?

[2017-12-29 09:40] ms10398 commented on #252
Yes Thats what I was thinking
Sure go ahead @gabru-md

[2017-12-29 09:51] #247 closed

[2017-12-29 11:44] YashKumarVerma commented on #249
The export icon color mismatches

[2017-12-29 11:48] YashKumarVerma commented on #249
! [https://user-images.githubusercontent.com/14032427/34360826-6d2701b6-ea8a-11e7-90ad-be0318673c55.png] (https://user-images.githubusercontent.com/14032427/34360826-6d2701b6-ea8a-11e7-90ad-be0318673c55.png)

[2017-12-30 11:56] #252 closed

[2017-12-31 05:05] arnav-mandal1234 commented on #249
can I take this issue?

[2017-12-31 05:09] arnav-mandal1234 commented on #178
Can I take this issue?

[2017-12-31 06:08] arnav-mandal1234 commented on #202
this is not solved.Can I take this task? @ms10398

[2017-12-31 06:09] 0x48piraj commented on #202
@arnav-mandal1234
Yes! Go on :+1:

[2017-12-31 06:31] stealthanthrax commented on #178
@arnav-mandal1234 , only for gci students

[2017-12-31 10:22] YashKumarVerma commented on #249
I am working on it. Would be throwing in a pr in a few hours

[2017-12-31 16:48] arnav-mandal1234 commented on #246
Can I take this task?

[2018-01-01 06:26] #238 closed

[2018-01-01 06:40] duttaditya18 commented on #246
@saikat041 Go ahead.

[2018-01-02 05:59] arnav-mandal1234 commented on #230
can I take this task?

[2018-01-02 06:34] ms10398 commented on #230
I was going to send PR's for all my issues today.
Thanks there are many issues feel free to work on them

[2018-01-02 06:48] gabru-md commented on #249
What is the status of this issue ?

[2018-01-02 06:52] arnav-mandal1234 commented on #249
can I take it?

[2018-01-02 12:56] #199 closed

[2018-01-02 12:58] #241 closed

[2018-01-02 13:49] YashKumarVerma commented on #249
I think someone else can go on with this one. I'm a bit occupied with labyrinth.

[2018-01-02 13:58] arnav-mandal1234 commented on #249
Then may I take this task?

[2018-01-03 19:17] akshatnitd commented on #249
@arnav-mandal1234 Yes, you may go ahead with it

[2018-01-04 15:39] stealthanthrax commented on #165
@zamhaq @ms10398 can i work on this issue?

[2018-01-04 15:43] ms10398 commented on #165
Yes sure!
Give it a try

[2018-01-04 15:45] arnav-mandal1234 commented on #229
Can I take this?

[2018-01-04 15:48] arnav-mandal1234 commented on #193
Can I take this task? I would love to work on it.

[2018-01-04 15:59] arnav-mandal1234 commented on #219
I also think this issue is irrelevant.I am up with @gabru-md

[2018-01-04 18:53] stealthanthrax commented on #193
I have done this task but am facing a small bug , you could help me out with that?

[2018-01-04 19:00] arnav-mandal1234 commented on #193
ya sure 👍

[2018-01-05 09:56] gabru-md commented on #249
In case if no one responds then you can simply write `Claiming` and start working if the issue has not been dealt with for quite long.
@arnav-mandal1234 :)

[2018-01-05 14:33] stealthanthrax opened #261 "An error in console"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
open the cbot and inspect the console

**Expected behavior:**
no issue

**Steps to reproduce:**

**Related code:**

<img width="862" al

[2018-01-05 15:47] arnav-mandal1234 commented on #261
Can I take this?

[2018-01-05 16:49] stealthanthrax commented on #261
Go ahead

[2018-01-06 02:34] sachincool commented on #228
@ms10398  this issue got over 20 days, Can i work on it .. if you're a bit stuffed at this moment ?

[2018-01-06 11:07] ms10398 commented on #228
Okay sure go for it!

[2018-01-06 11:53] #229 closed

[2018-01-06 19:53] #228 closed

[2018-01-10 04:29] #249 closed

[2018-01-12 07:37] #230 closed

[2018-01-12 18:44] stealthanthrax opened #269 "To add a surge dependency"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently one has to add a screenshot or add a gif after creating his PR

**Expected behavior:**
To add a working link like chat.susi.a

[2018-01-12 19:37] ms10398 commented on #269
It is a chrome extension so when deployed using surge many of its feature behave different
So is adding surge a good option?

[2018-01-12 23:17] gabru-md commented on #269
Why surge ?
I mean this is a chrome extension if it is deployed it will give bad results already and will not be a good measure to a gif or image. As Mohit said manys features will not work properly and hence this idea is drop-able.

Moreover we have to make a chromebot and not another chat.susi.ai so i suppose there is no need of surge deployment.

[2018-01-13 09:57] stealthanthrax commented on #269
@ms10398 @gabru-md I am not in favor of using **particularly** surge but a package the helps us provide test links.
We can use another package, if you have any suggestions?

[2018-01-13 10:03] stealthanthrax opened #270 "To add an option of confirming password"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When the user signs up through cbot , there is only one field to input password and hence many chances for error

**Expected behavior:*

[2018-01-13 10:04] gabru-md commented on #269
This issue that you have created was considered back when we started contributing . We had a problem of UI testing and all but travis could not be used for testing UI as UI for chrome extensions does not scale well oas browser pages.
Therefore , considering this as the same we can skip this issue. You may deploy it anywhere but the problem will still remain the same. Therefore chromebot requires e

[2018-01-13 10:05] #269 closed

[2018-01-13 10:06] ms10398 commented on #269
And I am thinking of some solution for it maybe implement it just as GCI is over.

[2018-01-13 12:46] YashKumarVerma opened #271 "[BUG] "cannot read property : actions" with infinite wait"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Start a conversation
ask for something related to some location

**breaks**, infinite wait.

**Expected behavior:**
either show locatio

[2018-01-13 13:09] stealthanthrax commented on #271
i would like to have a try

[2018-01-13 13:19] gabru-md commented on #271
`Where in vietnam` will not produce any search result

[2018-01-13 13:19] gabru-md commented on #271
It is an error in query i guess.

[2018-01-13 13:22] gabru-md commented on #234
There us no need to add it. Susi server already has everything.
@ms10398 please close this issue

[2018-01-13 13:23] gabru-md commented on #219
@ms10398 close this ?

[2018-01-13 13:25] #234 closed

[2018-01-13 13:25] #219 closed

[2018-01-15 17:04] bhaveshAn opened #272 "Add Hound CI"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [x] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently, Hound CI is not present in the repo.
**Expected behavior:**

Adding houndCI in the repo, will help us to review the code fo

[2018-01-15 17:45] sachincool commented on #165
As the post was inactive i have made the PR, please review. :fire:

[2018-01-15 17:57] bhaveshAn opened #275 "Add Codecov reports"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

No Codecov reports are generated.

**Expected behavior:**

The Codecov pull request comment is a highly detailed overview of a pull re

[2018-01-15 18:43] #165 closed

[2018-01-15 19:35] sachincool commented on #231
@gabru-md  Exactly right !  Please close this @ms10398

[2018-01-15 19:35] #231 closed

[2018-01-16 05:14] gabru-md commented on #157
Since GCI is over.
I am taking this task up for myself. Will provide a PR within 2 days.

[2018-01-16 05:35] ms10398 commented on #207
I will work on it and make a relevant PR soon.

[2018-01-16 05:39] ms10398 opened #277 "Wrong timestamp shown after syncing message with server"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
After syncing the messages from server, Timestamp shown is wrong.

**Expected behavior:**
Timestamp should be exact.

**Steps to reprod

[2018-01-16 05:40] ms10398 commented on #170
As no GCI student picked it up
I will work on it.

[2018-01-16 05:40] #161 closed

[2018-01-16 05:42] #212 closed

[2018-01-16 06:17] #149 closed

[2018-01-16 06:43] stealthanthrax opened #278 "Adding like and dislike buttons"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No like and dislike buttons

**Expected behavior:**
To add like and dislike buttons

**Would you like to work on the issue?**
Yes

[2018-01-16 09:23] ms10398 commented on #278
Duplicate https://github.com/fossasia/susi_chromebot/issues/198

[2018-01-16 09:23] #278 closed

[2018-01-16 13:11] stealthanthrax commented on #198
Okay, since gci is over, I would like to work on this

[2018-01-16 15:49] arnav-mandal1234 commented on #141
Can i take this?

[2018-01-16 15:59] abishekvashok commented on #198
@stealthanthrax pls go on :)

[2018-01-16 18:11] gabru-md commented on #173
Will do it!
Claiming

[2018-01-16 21:01] ms10398 commented on #141
Yes you can take it

[2018-01-17 06:52] gabru-md commented on #157
I'll be using leafletJS for map type response.
It is Open Source and has a rich api documentation.
Please comment down and ping me if you guys have better alternatives. I'll surely be looking into them
:)

[2018-01-17 15:53] stealthanthrax opened #282 "Chromebot closes on clicking mic icon"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Chromebot closes by clicking on mic icon

**Expected behavior:**
To display warning in some other way

**Steps to reproduce:**
open cbo

[2018-01-17 16:04] ms10398 commented on #282
Can you please check again as it is working for me
@gabru-md Can you have a check if it is working for you with the updated branch

[2018-01-18 13:04] gabru-md commented on #282
@stealthanthrax There is no problem here on my side. Can you please make sure that it is a legit bug before proceeding?  As it just might save your time :)

[2018-01-18 13:05] gabru-md commented on #271
@ms10398 please comment

[2018-01-18 13:30] stealthanthrax commented on #282
@gabru-md @ms10398 , this is a legit issue , I confirmed it by cloning the master.Probably a MACos specific bug .

[2018-01-18 14:35] ms10398 commented on #271
It is a server related bug according to me.

[2018-01-18 15:28] stealthanthrax commented on #246
what's the status @saikat041 ?

[2018-01-18 15:44] saikat041 commented on #246
I created a pull request about 15 days ago. But it never got merged.Now again its having merge conflicts.

[2018-01-18 15:45] saikat041 commented on #246
@stealthanthrax

[2018-01-18 15:45] stealthanthrax commented on #246
okay , my bad

[2018-01-18 15:46] saikat041 commented on #246
@stealthanthrax what should i do now.

[2018-01-18 16:10] ms10398 commented on #246
You can resolve the conflicts and ping me up.
I will review your PR

[2018-01-18 16:12] saikat041 commented on #246
Ok @ms10398

[2018-01-18 16:15] gabru-md commented on #282
This project is WebBrowser specific. And therefore I guess that any bug that is caused to you must be caused to atleast someone else. Since there is no one ( Windows and Linux ) that has any error therefore I suppose it is an error from your side.
As I said it is chrome specific application therefore having a OS specific bug is very weird.

[2018-01-18 16:46] stealthanthrax opened #283 "To add a feature of show password in login form"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
No option of login form

**Expected behavior:**
To add an option to show password in login form like Amazon.

**Would you like to work

[2018-01-18 16:49] gabru-md commented on #283
I guess there are a lot of redundant issues that have been created in the past.
@ms10398 please comment

[2018-01-18 16:52] ms10398 commented on #283
I think you should finish issues and let others claim and when you are with all PR's made then you should claim an issue. Try to stick to best practices as much as you can :+1:

[2018-01-18 16:53] gabru-md commented on #283
This feature is not a priority issue and can be given to a new comer. @ms10398 please add a New-Comer and Easy-Pick label to it.

[2018-01-18 16:53] stealthanthrax commented on #282
@gabru-md , I have checked this on **2 different MacBooks running different versions of OSx** and am facing the same issue.Probably chrome works differently on OSx

[2018-01-18 17:00] stealthanthrax commented on #283
@ms10398 @gabru-md , please could you explain this conversation?

[2018-01-18 17:41] ms10398 commented on #283
It's a very easy task which can be used to invite newcomers to work on development and as you are an `Experienced Dev` you can focus on advanced issues.

[2018-01-19 07:46] luckykumardev opened #284 "support susi_chromebot with other browsers like firefox, microsoft edge etc"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
currently, this extension is online supported by chrome

**Expected behavior:**
we can use this extension for different browsers also.

[2018-01-19 07:56] gabru-md commented on #284
We already have a firefox bot :)

[2018-01-19 08:27] luckykumardev commented on #284
oh, i haven't seen that.
then I think I should close this issue..

[2018-01-19 08:27] #284 closed

[2018-01-19 20:03] #246 closed

[2018-01-21 09:47] gabru-md opened #288 "Add anchor type response."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**System information:**

[code]

*

[2018-01-21 13:33] stealthanthrax commented on #282
@gabru-md @ms10398 @zamhaq , can we use push notifications instead of alert type response?

[2018-01-21 17:15] zamhaq opened #289 "SUSI speaking every message from the start on re-login after re-install"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Bot speaks out every reply from the start on re-install/re-login.

**Expected behavior:**
Do not speak out on re-login/re-install. Only

[2018-01-21 17:21] ms10398 commented on #289
I will like to give it a try

[2018-01-21 17:24] #157 closed

[2018-01-21 17:31] zamhaq commented on #193
@stealthanthrax @arnav-mandal1234 What's going on with this one guys? Quite a long time since it was claimed @stealthanthrax. :sweat_smile:

[2018-01-21 17:57] zamhaq commented on #193
@stealthanthrax yes, let someone work on your fork or if they want to work on their own that is fine too. So, this issue is open to anyone.

[2018-01-21 19:06] gabru-md commented on #289
Yes I had this bug but thought that it was just me.
Will be glad to have it solved.
Good luck @ms10398

[2018-01-21 19:07] gabru-md commented on #272
Close this @ms10398 @zamhaq

[2018-01-21 19:20] #272 closed

[2018-01-22 06:26] stealthanthrax commented on #193
@zamhaq,it’s fine either ways

[2018-01-22 15:41] arnav-mandal1234 commented on #283
Can I take this? and can someone explain to me what I have to do exactly?

[2018-01-22 17:18] stealthanthrax commented on #283
@arnav-mandal1234 , i was about to send a PR within 1-2 days

[2018-01-22 17:39] ms10398 commented on #283
If you fail to provide PR within one or two days @stealthanthrax

The issue will be assigned to @arnav-mandal1234

[2018-01-23 08:15] arnav-mandal1234 commented on #193
@stealthanthrax I was not able to fix the bug in your code.
So, I will be making a PR within 2 days including few other issues.

[2018-01-24 11:29] #270 closed

[2018-01-25 17:35] stealthanthrax commented on #220
@ms10398 @zamhaq , since the PR made on this is beyond repair ,I'll make a new PR in 1-2 days

[2018-01-25 17:37] stealthanthrax commented on #235
@ms10398 @zamhaq , please could you a have look at the PR and check if a new one is required?

[2018-01-26 03:31] #202 closed

[2018-01-26 04:31] arnav-mandal1234 commented on #277
Can I take this?

[2018-01-26 12:49] #283 closed

[2018-01-26 16:01] anshumanv commented on #170
@ms10398 collaborating. :smile:

[2018-01-27 13:42] arnav-mandal1234 commented on #172
I would like to take this up.Can you elaborate me on the following? @ms10398

[2018-01-27 14:03] rupav commented on #141
@arnav-mandal1234 share your progress on this, @ms10398 claiming this otherwise

[2018-01-27 14:06] rupav commented on #174
@zamhaq  claiming this as code in has finished.

[2018-01-27 16:59] #288 closed

[2018-01-28 16:23] gabru-md commented on #198
@ms10398 reopen?

[2018-01-28 16:39] gabru-md commented on #198
I will take it as a priority issue and send a PR for the same now.

[2018-01-29 03:24] stealthanthrax commented on #198
@gabru-md @ms10398,since this issue was assigned to me and I did what you guys said in the reviews ,hence the issue should be assigned to **me ** again.

[2018-01-29 03:40] gabru-md commented on #198
You claimed your issue.
And the changes I requested were only on the frontend.
I never approved your backend changes as I was a bit confused then about the code you wrote. But it still got reviewed and merged.
You failed to provide a working PR for the issue that you claimed and so it was reverted asap.
Rest we can have @ms10398 decide who to be assigned :)

[2018-01-29 04:28] ms10398 commented on #198
@stealthanthrax You can go ahead and if you fail to provide the PR in 2 days
Issue can be took over by @gabru-md

[2018-01-30 06:14] zamhaq opened #296 "Integrate prettier & eslint into workflow"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter  at https://gitter.im/fossasia/susi_server

**Current behavior:**

Lot of reviews contain indent errors.

**Expected behavior:**

Make reviews faster handing these repetitive tasks to tools.
Use prettier for

[2018-01-30 06:18] zamhaq commented on #296
@gabru-md @ms10398 what do you think?

[2018-01-30 06:20] gabru-md commented on #296
Yes please!
It will be just great @zamhaq as a lot of PRs have indentation errors and rectifying them generally leads to stacking of these PRs.

[2018-01-30 06:22] gabru-md commented on #156
@zamhaq I will start working on this now.
Since I have added all response So i guess now we can go ahead and split the files.
Meanwhile you can aa prettier and eslint as well.
:)

[2018-01-30 10:22] ms10398 commented on #296
We can use prettier or standard whatever you feel comfortable with.

[2018-02-01 04:28] gabru-md commented on #198
Ping @ms10398 .
Please let me know as I will have to figure out a way for storing data and finding the API. So If you could let me know that should I start working on this or not ?
It had already been 2+ days and no relevant PR has been provided

[2018-02-01 04:31] gabru-md commented on #296
ping @zamhaq

[2018-02-01 04:32] ms10398 commented on #198
As no PR is provided you can go ahead @gabru-md

I dont think @stealthanthrax will have any issues now with it.

[2018-02-01 04:35] gabru-md commented on #156
@zamhaq @ms10398 Since I am working on this now and I have to design a workflow and then split the files, Can you guys please ensure that no PRs are merged, So that no conflicts are caused by this ?

[2018-02-01 04:40] ms10398 commented on #156
@gabru-md , Yes then take it as a **priority** issue. And make the PR within one to two days.

Thanks!

[2018-02-01 06:52] stealthanthrax commented on #198
@gabru-md @ms10398 , i was busy in submitting a final summary for codeheat, but it looks like @gabru-md really want's to do it, you can go ahead 😄

[2018-02-01 07:10] zamhaq commented on #296
Yes @gabru-md pr's will be blocked till then 😁

[2018-02-01 07:12] zamhaq commented on #296
@gabru-md yoi can go ahead with working on splitting the files, this is not the priority now.

[2018-02-01 08:32] stealthanthrax commented on #193
closed via #291

[2018-02-01 08:32] #193 closed

[2018-02-03 13:09] #282 closed

[2018-02-03 15:27] arnav-mandal1234 commented on #289
Can I take this? @gabru-md @ms10398

[2018-02-03 15:51] ms10398 commented on #289
Yes @arnav-mandal1234 You can go ahead

[2018-02-03 16:34] gabru-md commented on #289
Yes please. Go ahead

[2018-02-05 08:05] ms10398 opened #298 "After login the empty message indicator is still showing up"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
After logging in the empty message indicator is still showing up
![screenshot from 2018-02-05 13-29-37](https://user-images.githubuserc

[2018-02-05 19:15] #277 closed

[2018-02-06 17:09] stealthanthrax opened #300 "Adding custom tests using MOCHA.js"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
A reference to issue number #172

**Would you like to work on the issue?**

Yes

[2018-02-06 17:19] ms10398 commented on #300
Actually it can be considered duplicate as both are writing tests! #172

Can you explain any difference! @stealthanthrax

[2018-02-07 03:55] stealthanthrax commented on #300
@ms10398 , in this I am just referring the API .Wheather we should use it or not.

[2018-02-08 07:01] rupav commented on #173
this can be closed.

[2018-02-11 12:09] #220 closed

[2018-02-16 11:42] gabru-md commented on #300
Mocha and Chai are for API testing.
And these tests should be for susi-server and not for chromebot.

@stealthanthrax can you please elaborate how are you going to use mocha for testing chromebot ?

[2018-02-28 06:36] ashupednekar opened #301 "Make a better color scheme for login page."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [x] enhancement
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Poor color scheme

**Expected behavior:**

Better Color scheme
![image](https://user-images.githubusercontent.com/254

[2018-02-28 07:06] ashupednekar opened #303 "Make a better color scheme for signup page."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [x] enhancement
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
poor color scheme
![image](https://user-images.githubusercontent.com/25405037/36774336-ae2c91fa-1c83-11e8-992a-ae6924

[2018-02-28 10:58] ms10398 commented on #303
We intentionally kept those colours as It followed Susi web client and desktop client colour scheme.

Thanks! @ashupednekar

[2018-02-28 10:58] #303 closed

[2018-02-28 10:58] ms10398 commented on #301
We intentionally kept those colours as It followed Susi web client and desktop client colour scheme.

Thanks! @ashupednekar

[2018-02-28 10:58] #301 closed

[2018-02-28 11:35] ashupednekar commented on #301
By the way, I would love to modify the colors for the web and desktop
platforms as well...
That way the color scheme can be both consistent and pretty. :)
On Feb 28, 2018 4:28 PM, "Mohit Sharma" <notifications@github.com> wrote:

Closed #301 <https://github.com/fossasia/susi_chromebot/issues/301>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2018-02-28 11:44] ms10398 commented on #301
I am not sure if thats our focus for now

Still there are many other features which are needed to implemented and issues are there it would be a lot better if you like to give them a try.

[2018-02-28 15:22] ashupednekar commented on #301
Sure, thanks. :)

On 28 February 2018 at 17:14, Mohit Sharma <notifications@github.com> wrote:

[2018-05-28 16:44] prateekiiest commented on #210
Please close this issue

[2018-05-28 16:56] #210 closed

[2018-06-07 16:49] prateekiiest opened #304 "Update 'Working GIF' for susi extension"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Current SUSI gif looks like this
https://github.com/fossasia/susi_chromebot/blob/master/susi_chromebot.gif

but since some layout of t

[2018-06-07 16:52] gabru-md commented on #304
@prateekiiest please go ahead if you wish to. :+1:
If you need help then you can use OBS to record the video of the chromebot and then convert it into a GIF using some or the other online website.
Cheers!

[2018-06-10 09:09] #304 closed

[2018-06-14 06:32] prateekiiest opened #307 "No hand sign while hovering over drop-down menu"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently in the susi chromebot, there is no hand sign when the cursor hovers over the drop down menu (about, login, clear chat)

![su

[2018-06-18 11:09] #307 closed

[2018-06-22 13:10] prateekiiest commented on #298
is the bug still prevalent, or we can get this closed?

[2018-06-22 13:15] ms10398 commented on #298
Can you test it once.

I am not sure about it.

[2018-06-25 10:11] prateekiiest commented on #298
This doesn't happen now.
I think we can close this

[2018-07-02 09:36] #207 closed

[2018-08-19 15:51] zamhaq opened #310 "Duplicate Code"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Duplicate code doing the same task exists.

**Expected behavior:**

Duplicate code should not exist.

**Related code:**

[code]

**Oth

[2018-09-12 11:57] gabru-md commented on #310
@rupav you might want to check this issue in case you are interested to work on this.
this seems to be a relatively easy issue and can get you started on this project as well. :+1:

[2018-09-12 12:28] gabru-md commented on #261
closing this since this has been done already!

[2018-09-19 17:40] #310 closed

[2018-09-20 15:49] zamhaq opened #314 "Erroneous code in extension"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Erroneous code.

**Expected behavior:**
Should not exhibit this error.

**Steps to reproduce:**
1.Clone fresh repo.
2.Load extension an

[2018-09-20 15:51] #261 closed

[2018-09-20 15:53] zamhaq commented on #300
Closing this as `no elaboration provided and suggested solution is irrelevant`.

[2018-09-20 15:53] #300 closed

[2018-09-20 16:00] zamhaq commented on #174
@rupav still up for working on this one? :smile:

[2018-09-20 16:33] rupav commented on #174
Whatever you prefer @zamhaq 😅. We can assign this as this year's GCI task or I will start working on it 😀

[2018-09-20 16:35] zamhaq commented on #174
You can work on it if you prefer, since there is still time for GCI 18 :smiley:

[2018-09-20 16:37] zamhaq commented on #156
@gabru-md @ms10398 any plans on this one? Should we do it now since GCI is coming up, it will help new contributors to get started easily. What say? :smiley:

[2018-09-21 03:02] rupav opened #317 "'Show password' field showing 1 less character than the original typed."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

When logging through susi_chromebot, on entering password, and then showing it results in 1 less character than the original typed.
**

[2018-09-21 03:13] rupav opened #318 "'Show password' filed should not be editable i.e. input type."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently we can edit the Show password field.
**Expected behavior:**

It should not be editable.
**Steps to reproduce:**

Go to login

[2018-09-21 04:47] rupav opened #320 "Add space between Logged in 'as,<user email>'"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

After logging in, if you try to log in again following message came
![loggedinbug](https://user-images.githubusercontent.com/20624380/

[2018-09-21 04:47] rupav commented on #320
@zamhaq can I send the fix for this in my already opened PR, #319 ?

[2018-09-21 04:49] zamhaq commented on #320
Yeah Sure :+1:

[2018-09-21 04:55] rupav commented on #320
Done, also removed the Show Password field. Let me know if its fine.

[2018-09-21 05:52] rupav opened #321 "Persist messages after re-login."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently if I am logged in, and chat then those messages dont persist after logging out and then relogin.
But If I chat on https://ch

[2018-09-21 11:27] Ananthavijay opened #322 "Show password button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

![awesomescreenshot-2018-09-21t02-41-27-948z](https://user-images.githubusercontent.com/35162705/45857500-947fe380-bd76-11e8-9b0f-cfd9

[2018-09-21 11:27] Ananthavijay commented on #322
https://github.com/fossasia/susi_chromebot/pull/316#issuecomment-423412651

[2018-09-21 13:00] rupav opened #323 "Welcome/Introductory Message overlapping with previous messages if logged in."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

If you log in, provided you had earlier chatted with SUSI in your account, then the message `Start by saying "HI"` overlaps the first

[2018-09-21 13:16] rupav commented on #323
Well it checks if there is no access token before this message https://github.com/fossasia/susi_chromebot/blob/d9605641a28032d90fde332417e5fa82d84ad36c/src/script.js#L408 .
So shouldn't it not show this message @zamhaq  @gabru-md  If I am logged in?

[2018-09-21 14:12] zamhaq commented on #323
@rupav True! It should not show this message if message history is present.

[2018-09-21 14:29] rupav commented on #323
@zamhaq found the bug (wrong logic in the code), please see #324

[2018-09-22 03:16] rupav opened #325 "Add required in input fields of ChangePassword form."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently on submitting empty fields, no error shows up.
**Expected behavior:**

Error/alert should be present to indicate the require

[2018-09-22 03:17] rupav commented on #325
@zamhaq adding `required` field in the input tags will do. But in forget password, there is an `alert` for empty field (Email). Should I change in that too?

[2018-09-22 03:51] rupav opened #326 "Add atleast 6 characters limit/check as per susi ai for password setting and change."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently while signing up, entering password with less than 6 characters, gives an alert of `Sign up failed. Try again`. Similarly, n

[2018-09-22 03:55] rupav commented on #326
Desired behavior of:
https://chat.susi.ai/ indicates this on dashboard:
![sixchars](https://user-images.githubusercontent.com/20624380/45913053-64554500-be49-11e8-961d-82e2394feb68.PNG)

[2018-09-22 04:32] rupav opened #330 "Typos in Contributing.md and issue template"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Couple of typos in above templates/files.
**Expected behavior:**

No mistakes.
**Steps to reproduce:**

**Would you like to work on th

[2018-09-22 15:11] rupav opened #332 "Map/go-to-bottom button overlapping with dropdown menu."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

![2018-09-22 40](https://user-images.githubusercontent.com/20624380/45918640-ae6d1380-bea7-11e8-920d-1455b822a145.png)

**Expected beh

[2018-09-22 20:17] #330 closed

[2018-09-22 20:17] #325 closed

[2018-09-23 05:21] championballer opened #333 "Logout button on login screen"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The logout button is present on the login page, which in my opinion should not be the case.

**Expected behavior:**
The logout button s

[2018-09-23 05:25] championballer opened #334 "Change password link on login screen, unresponsive"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is text "Change password" on the login portal that seems out of place and is also unresponsive

**Expected behavior:**
It should

[2018-09-23 05:37] gabru-md commented on #334
Asigned to you :)

[2018-09-23 05:38] gabru-md commented on #333
Assigned to you :)

[2018-09-23 05:55] championballer opened #335 "Click to show password doesn't work as expected."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
![show password](https://user-images.githubusercontent.com/39242078/45924645-fa10d300-bf22-11e8-9c78-8f43238bce7b.png)

The show passwo

[2018-09-23 06:06] championballer opened #336 "Alignment of show password"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
The click to show password label and checkbox should be better aligned, that is they should be moved down to align properly on the page

[2018-09-23 06:08] #322 closed

[2018-09-23 06:10] rupav commented on #334
It should be there @championballer if the user is logged in. Its responsive for me. Just checked. Please post a screenshot of your problem.

[2018-09-23 06:11] rupav commented on #336
Already a PR for the same. Refer #319

[2018-09-23 06:12] rupav commented on #335
Already a PR for the same. Refer #319

[2018-09-23 06:25] championballer opened #337 "Redundant code in login.html"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is redundant code in login.html with display:none, where we already have show password label along with checkbox.
![reduncode](ht

[2018-09-23 06:27] championballer commented on #334
![change password](https://user-images.githubusercontent.com/39242078/45924855-dbf9a180-bf27-11e8-9d0c-26bc801e9b11.png)

Should it be on the login portal @rupav

[2018-09-23 06:38] championballer commented on #336
I don't see any changes to the mentioned code in the PR, @rupav . It changes the redundant show password field but of the existing show password label which imo should be moved down a bit.

[2018-09-23 06:39] rupav commented on #337
Why would you remove `display:none` property? It is there in case user is logged in, then javascript will change that property itself.

[2018-09-23 06:40] rupav commented on #334
I still cant get to this page. Please state `steps to reproduce this form`.

[2018-09-23 06:41] championballer commented on #335
Yeah, my bad. Goodluck working on that.

Also, could you comment here when it is merged? That will mean that there is no issue anymore?

[2018-09-23 06:43] championballer commented on #334
@rupav, I just opened the login.html file after cloning the repo. this morning.

[2018-09-23 06:50] championballer commented on #337
I am so sorry, I by mistake attached wrong screenshot. I hope it clears your issue.

I don't really get the need of the whole block of code of "Show password" here when we already have a label and checkbox associated with it. Plus why on login screen do we need show password.

[2018-09-23 06:52] rupav commented on #334
Ok 👍. I am unable to reproduce this issue on my side. I would recommend you to start working on it after PR 319 gets merged, and you can then pull the changes in your local repo. Then try again reproducing this error.

[2018-09-23 07:09] #318 closed

[2018-09-23 07:27] #323 closed

[2018-09-23 07:30] championballer commented on #335
@rupav Is the button you added working post the merge, for show password?

[2018-09-23 07:32] #336 closed

[2018-09-23 07:32] #337 closed

[2018-09-23 07:46] rupav commented on #335
yes, I havent added the button, its a span tag (with an `eye` icon), clicking on which will let you see the password you typed.

[2018-09-23 07:55] championballer commented on #335
It isn't working on my machine for some reason. Please check?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/39242078/45925490-15d0a500-bf34-11e8-8937-2f3ef785776d.gif)

[2018-09-23 07:56] zamhaq commented on #335
@championballer Try to open this page from the extension instead opening the file directly. :smile:

[2018-09-23 08:00] championballer commented on #335
Oh yeah, my bad. :smile:

[2018-09-23 08:00] #335 closed

[2018-09-23 08:02] zamhaq commented on #174
Try `universities in singapore`.

[2018-09-23 08:03] zamhaq commented on #320
Resolved through #319

[2018-09-23 08:03] #320 closed

[2018-09-23 08:04] championballer opened #339 "Generate code dynamically through Javascript when user is loogedin."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
There is code fro logout and change password that is part of the functionality that should appear dynamically using javascript when the

[2018-09-23 08:05] fragm3 opened #340 "Add tooltip on Ask SUSI"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When a user searches for text on susi with right clicking -> Ask SUSI - "", only notification is shown in extension.

**Expected behavi

[2018-09-23 08:10] fragm3 opened #341 "On switching extension, no response from SUSI"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
If you search for a term in the extension and switches the extension, no answer is fetched

**Expected behavior:**
Should show notifica

[2018-09-23 08:12] fragm3 opened #342 "Add scroll to top in scroll window"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Only scroll to bottom present as of now

**Expected behavior:**
Scroll to top to see previous chats

**Would you like to work on the is

[2018-09-23 08:15] fragm3 opened #343 "Add Susi Chat, Susi Skills shortcut in Option menu"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently not present

**Expected behavior:**
Add shortcut in options to go to https://chat.susi.ai/ and https://skills.susi.ai/ from r

[2018-09-23 08:17] #339 closed

[2018-09-23 08:17] #334 closed

[2018-09-23 08:17] #333 closed

[2018-09-23 08:22] fragm3 opened #344 "Open Chrome Extension to left as window"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Not present

**Expected behavior:**
Add option to open the chrome extension to left as a window

**Other information:**
See the redux d

[2018-09-23 09:14] rupav commented on #174
Thanks, working.

[2018-09-23 09:14] rupav commented on #317
This has been solved in #319, sol closing it.

[2018-09-23 09:14] #317 closed

[2018-09-23 09:19] rupav opened #346 "Properly align 'Change password' form for smaller screen size."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

![image](https://user-images.githubusercontent.com/20624380/45926393-a496ef00-bf3f-11e8-85ca-de1290ea8382.png)

**Expected behavior:**

[2018-09-23 09:30] rupav commented on #321
Ok, will check again and post a GIF/video here. Let me know if you know good screen recorders in Windows. / Ubuntu

[2018-09-23 09:35] rupav commented on #321
Just checked it @zamhaq . Its no longer reproducible. I have a feeling #324 solved this, as it was some authentication error that was solved in that PR, so does this.
So closing this 👍

[2018-09-23 09:35] #321 closed

[2018-09-23 09:40] rupav commented on #314
Let me know @zamhaq if its still reproducible. What do you meant by extension page - console logs in the chrome://extensions?

[2018-09-23 09:40] rupav commented on #289
I would like to take this up. @gabru-md @zamhaq

[2018-09-23 10:29] rupav opened #348 "Add option to restore defaults in settings/options."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

There is no way to back to original settings if you change predefined theme/ message pane color.
**Expected behavior:**

Add a restore

[2018-09-23 12:29] rupav opened #349 "Old info in Readme on how to allow mic access."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Instruction number 6 should be changed, as to allow mic access, we need to go to options which is accessed through `right click on ext

[2018-09-23 16:51] fragm3 opened #351 "Redirect to Github Repository on options"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Right click on the chrome icon, try clicking `SUSI-AI`

**Expected behavior:**
Should redirect to github repo

**Would you like to work

[2018-09-23 18:02] Ananthavijay opened #353 "Label Should be changed in confirm Password"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

![screenshot - 9_24_2018 12_31_09 am](https://user-images.githubusercontent.com/35162705/45931230-ce283880-bf88-11e8-8011-23a6da8d168a

[2018-09-23 21:29] fragm3 opened #357 "Add video support for SUSI Replies"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When trying to play a video, shows: No matching action type

**Expected behavior:**
Should be able to play video like in web app.

**St

[2018-09-23 21:59] fragm3 opened #358 "Tweet Susi Reply Cutoff"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When reply is of tweet type, the response is cutoff from left

**Expected behavior:**
Add overlay or scroll to see the full tweets hori

[2018-09-23 22:17] fragm3 commented on #314
@zamhaq i'll take this up

[2018-09-24 05:08] leoking-crey commented on #353
yes i would like to work on the issue please assign it to me

[2018-09-24 05:09] leoking-crey commented on #353
Also please guide me through the steps required to do so as this would be my first pr

[2018-09-24 05:43] leoking-crey commented on #353
I have placed a pull request please review

[2018-09-24 12:35] #332 closed

[2018-09-24 12:38] #346 closed

[2018-09-24 12:39] gabru-md opened #360 "change color of the logout button"
**Problem/Issue**
logout button has `success` green right now. It can be changed to like `warning` red or `error` yellow.

**Do you want to work on this?**
No

**Can this be claimed by anyone**
Yes

[2018-09-24 12:40] rupav commented on #360
Claiming it.

[2018-09-24 12:40] #351 closed

[2018-09-24 12:40] #353 closed

[2018-09-24 12:46] #349 closed

[2018-09-24 12:49] rupav commented on #174
@zamhaq some weird behavior. for debugging purpose, I entered the same query `universities in singapore`. Now as per the issue it should not store table response. But after closing and reopening the entension, in one case, I got the table back, in other, I didn't.

![image](https://user-images.githubusercontent.com/20624380/45952865-fca82100-c025-11e8-96f8-8f95e225a339.png)
![image](https://user-i

[2018-09-24 12:53] gabru-md commented on #156
sure it will.
I guess we can have simple tasks for GCI students and have codeheat students take this up @zamhaq ?

[2018-09-24 12:58] #343 closed

[2018-09-24 12:58] rupav commented on #156
Would like to do the initial setup with webpack. 👍

[2018-09-24 14:54] fragm3 opened #363 "Fix Content Security Policy Error on Mic Toggle"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
On toggling mic, gives error

**Expected behavior:**
No error

**Steps to reproduce:**
Open extension -> Toggle mic -> See console

**R

[2018-09-24 15:25] fragm3 opened #365 "Console error on switching themes"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
On changing theme, following error occurs:
`Error in response to storage.get: TypeError: Cannot read property 'accessToken' of undefine

[2018-09-24 15:35] fragm3 opened #366 "Error on message type Map"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Error if susi response is of type `map`

**Error:**

**Expected behavior:**
No error

**Steps to reproduce:**
Search `location of delhi

[2018-09-25 17:12] Ananthavijay opened #370 "Adding a remember me function"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Steps to reproduce:**
Go to login page

**Related code:**

[code]

**Other information:**

**System information:**

[code]

**Would you like to work on the

[2018-09-26 20:16] fragm3 opened #373 "Respond with text if Response is Empty"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
On typing something gibberish or like random letters, no response is fetched

**Expected behavior:**
Respond with `Hmm... I'm not sure

[2018-09-27 19:12] anubhavp28 opened #376 "Fix unusual space between conversation box and input text field"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently, there is unusual amount of vertical space between the conversation box/area and the input text field.
![screenshot from 201

[2018-09-27 19:48] fragm3 opened #378 "Fix Eye in Login Page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Currently eye for viewing password is out of the box

**Expected behavior:**
Something like this:
<img width="716" alt="screen shot 201

[2018-09-28 00:58] rupav opened #379 "exchange field id names - 'cpassword' and 'password'"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently id `cpassword` is being used in setting up password field on sign up form.
Whereas id `password` is being used in confirmati

[2018-09-28 01:00] rupav commented on #379
@ms10398 should I make these changes in my already opened PR? This is a completely different issue, so should I open a dedicated PR for this?

[2018-09-28 04:41] #360 closed

[2018-09-28 04:42] #363 closed

[2018-09-28 04:43] #314 closed

[2018-09-29 08:12] fragm3 opened #381 "Redesign Settings Pages, More functionality"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
Current UI needs to be changed for settings page.

Theme color pick right now only allows 4 colors
<img width="270" alt="screenshot 201

[2018-09-29 15:12] #326 closed

[2018-09-29 18:59] fragm3 opened #382 "Fix Console Errors"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
On logging in, the following console errors are present:

<img width="657" alt="screenshot 2018-09-30 at 12 24 41 am" src="https://user

[2018-09-30 02:29] rupav commented on #198
@gabru-md @ms10398  would like to work on this.

[2018-09-30 03:22] rupav opened #384 "Rename `allowmic.js` to `options.js`."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**

Currently, allowmic.js is attatched to options.html. But should be renamed to `options.js` similar to other js files. Allow mic access

[2018-09-30 05:11] #376 closed

[2018-09-30 08:09] rupav commented on #384
Will include it in PR for #348 ASAP

[2018-09-30 09:01] #379 closed

[2018-09-30 15:08] #373 closed

[2018-10-01 04:54] samagragupta opened #389 "When eye is closed the password is shown and vice-versa"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/susi_server

**Current behavior:**
When eye is closed the password is shown and vice-versa on the login page .
![pass chrome](https://user-images.githubusercontent.com/32

[2018-10-01 10:55] #198 closed

[2018-10-02 03:19] rupav commented on #389
Not able to produce this issue.

[2018-10-02 03:50] rupav commented on #271
this has been solved in https://github.com/fossasia/susi_chromebot/pull/374.
@ms10398 @gabru-md @YashKumarVerma you can close this issue.

[2018-10-02 03:52] rupav commented on #170
@anshumanv @ms10398 can I start working on it? I will use `let` and `const` instead of `var`. Also will replace all functions with fat arrow ones.

[2018-10-02 06:06] zamhaq commented on #170
you can go ahead I guess. It's been a long time since the issue is stale.

[2018-10-02 06:06] rupav commented on #389
Yes, my bad. Go ahead. Send a PR. Thanks for spotting it. It was my mistake when I sent the PR for this. Please rectify it.

[2018-10-02 06:11] rupav commented on #378
@fragm3 please close this, as it has been merged.

[2018-10-02 06:23] #365 closed, assigned to nobody

[2018-10-02 06:36] ms10398 commented on #271
Thanks @rupav

[2018-10-02 06:36] #271 closed

[2018-10-02 06:37] #357 closed

[2018-10-02 07:16] fragm3 opened #392 "Fix Video is Unavailable"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
PR: https://github.com/fossasia/susi_chromebot/pull/380, had an isssue as described in the PR description

**Expected behavior:**
Allow

[2018-10-02 07:36] rupav commented on #392
Thanks for the opening this issue and the tag. Yes I am claiming it ✌

[2018-10-02 07:48] fragm3 opened #394 "Change naming for submit in allow mic"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Currently, submit1, submit2, 3 are used.
Code screenshot:
<img width="519" alt="screenshot 2018-10-02 at 1 17 21 pm" src="https://user-

[2018-10-02 07:54] rupav commented on #172
@ms10398 which testing tools to be used? Jest and headless chrome can be fine?

[2018-10-02 07:55] fragm3 opened #395 "Add Share functionality in Message Response"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Not sharing facility present at the moment

**Expected behavior:**
Add sharing the message in message response.
<img width="498" alt="s

[2018-10-02 07:57] fragm3 opened #396 "Remove Message Ticks to Match Web App"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Ticks present in web app

**Expected behavior:**
Remove ticks to match https://chat.susi.ai/

**Would you like to work on the issue?**

[2018-10-02 07:58] rupav commented on #395
Are you working on it @fragm3 . I would like to claim it if not.

[2018-10-02 07:58] fragm3 commented on #395
@rupav I am working on it

[2018-10-02 08:05] fragm3 opened #397 "Format message response to match Web App"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Customize message response to match web app https://chat.susi.ai/, similiar to this:
Screenshot:
<img width="319" alt="screenshot 2018-

[2018-10-02 08:08] fragm3 opened #398 "Add more Content to response type Map"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Only map is shown, should give more response like that of susi
Current SC:
<img width="238" alt="screenshot 2018-10-02 at 1 37 09 pm" s

[2018-10-02 11:07] fragm3 commented on #398
Its working fine, closing this issue.

[2018-10-02 11:07] #398 closed

[2018-10-02 11:11] fragm3 opened #400 "Fix Date if Error on Fetching Response"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
<img width="304" alt="screenshot 2018-10-02 at 4 37 34 pm" src="https://user-images.githubusercontent.com/18073126/46345338-d441a780-c6

[2018-10-02 12:05] fragm3 opened #402 "Susi Response Not Persistent"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Try searching for a query, after fetching SUSI response, switch the extension. The response would not be there.

GIF of bug:
![bug-resp

[2018-10-02 17:58] #289 closed

[2018-10-02 18:01] #384 closed

[2018-10-02 23:15] rupav commented on #348
closing this as it is solved in #386

[2018-10-02 23:15] #348 closed

[2018-10-02 23:33] rupav opened #404 "Autofill the email field while changing the password."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**

![screenshot 34](https://user-images.githubusercontent.com/20624380/46382607-6c26ac00-c6c9-11e8-9664-6cb70fa9b879.png)

**Expected beh

[2018-10-03 01:10] rupav commented on #404
Expected behavior - fetching and auto filling email from `userDetails.loggedUser.email`. and disabling that field.
![screenshot 36](https://user-images.githubusercontent.com/20624380/46384983-04775d80-c6d7-11e8-9ca3-d6fd2e9b0518.png)

It will be better if we remove that field altogether.

[2018-10-03 13:57] fragm3 opened #405 "Add Search Message Functionality"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Search functionality not present currently.

**Expected behavior:**
User should be able to search within the messages

**Would you like

[2018-10-03 14:19] fragm3 opened #406 "Modify Compose Message Similar to Web App"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Currently, in writing message, both send and mic icons are shown.

**Expected behavior:**
Should be dynamic,
GIF:
![compose message res

[2018-10-04 16:29] fragm3 opened #407 "Fix Cannot read property 'addEventListener' of null in restore"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
SC:
<img width="621" alt="screenshot 2018-10-04 at 9 57 51 pm" src="https://user-images.githubusercontent.com/18073126/46488575-ac4c728

[2018-10-04 18:12] sk9331657 opened #408 "Using Materlistic Alerts instead of document alert for notifying users"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**

We are still using window alert for notifying users.
![screenshot from 2018-10-04 23-40-18](https://user-images.githubusercontent.com/17084322/46493840-fb999f80-c82e-11e8-823f-ef1780df6cb1.png)

**Expected behavior:**

Using Bootstrap Alerts for notifications
**Steps to reproduce:**

**Other information:**

[2018-10-04 19:03] sk9331657 opened #409 "Adding local image selection for background Image in Options.html"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**

Currently,  we can only save URL  for background image for chrome bot.

**Expected behavior:**
Can upload image and use it as background.

**Steps to reproduce:**

**Would you like to work on the issue?**
Yes  I am already working on it.

[2018-10-04 19:26] sk9331657 opened #410 "Removing Deprecated Stream.stop And using Updated Code"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request

**Current behavior:**

Stream.stop() is not executing and is also deprecated. Have a look.
![screenshot from 2018-10-05 00-55-07](https://user-images.githubusercontent.com/17084322/46497855-5506cc00-c839-11e8-8b18-f00261690cc0.png)

**Expected behavior:**

Streams should quit active tracks.

**Would you like to

[2018-10-05 06:36] sk9331657 opened #414 "Adding Settings Link inside the Login html"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**

There is no link or button which redirects to Settings.html

![screenshot from 2018-10-05 12-05-52](https://user-images.githubusercontent.com/17084322/46519729-08ea7480-c897-11e8-8e1e-bdb82075a53d.png)

**Expected behavior:**

**Steps to reproduce:**
GO to login.html

**Would you like to work on the issue?

[2018-10-05 08:16] #410 closed

[2018-10-05 10:01] rajvaibhavdubey opened #416 "Drop down menu opens on hovering"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

**Current behavior:**

When you hover on the three dots in top right corner the menu automatically opens

**Expected behavior:**

Instead there should be a clickable button, to open the menu

**Steps to reproduce:**

Hover on the menu button in top right corner

**System information:**

[code]

**Would you like to work on the issue?*

[2018-10-05 10:36] sk9331657 opened #417 "Addings Settings Link Inside Drop Down Menu"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**

There is no link to Settings.html in the drop-down menu in chrome bot.

![screenshot from 2018-10-05 16-05-27](https://user-images.githubusercontent.com/17084322/46530816-9c806d00-c8b8-11e8-86f0-b04ee0391389.png)

**Would you like to work on the issue?**

Please let us know if you can work on it or the iss

[2018-10-05 17:11] sk9331657 opened #421 "Alerting Users In case None option is Selected and submit is clicked"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request

**Current behavior:**

Currently, Even if the user doesn't select any color for message pane or theme , success alert is thrown instead user should be notified to select one.
**Expected behavior:**

**Would you like to work on the issue?**

Please let us know if you can work on it or the issue should be assigned

[2018-10-06 04:08] #366 closed

[2018-10-06 04:09] #396 closed

[2018-10-06 04:09] ms10398 commented on #421
It is a minor issue so try to fix it in one of your pending PRs @sk9331657

[2018-10-06 06:30] #382 closed

[2018-10-06 06:31] #402 closed

[2018-10-06 06:31] #400 closed

[2018-10-06 06:31] #397 closed

[2018-10-06 06:31] #395 closed

[2018-10-07 05:17] #414 closed

[2018-10-07 05:19] #409 closed

[2018-10-07 05:30] sk9331657 opened #423 "Automatically opening SUSI when user searches using Ask SUSI"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Current behavior:**

When the user clicks on this button, Susi doesn't pops up automatically instead it should pop up.
![screenshot from 2018-10-07 10-59-30](https://user-images.githubusercontent.com/17084322/46578518-14b57280-ca20-11e8-8866-2f54160c311f.png)

**Expected behavior:**

Poping up .

**Would you like to work on th

[2018-10-07 05:37] sk9331657 commented on #423
@Akshat-Jain  @stealthanthrax  Your opinions on this ??

[2018-10-07 07:09] rupav commented on #170
@ms10398 @zamhaq this can be reopened, as more work is still to be done in it. I am taking up next part of the issue.

[2018-10-07 08:03] tathagat2006 commented on #417
Yes

[2018-10-07 09:48] sk9331657 commented on #417
Already solved in #418.  :smile:  Try another issue.

[2018-10-07 11:37] tathagat2006 commented on #407
I want to resolve #407

[2018-10-07 13:06] sk9331657 opened #426 "Updating Susi Icon with notification icon when Users searches using ask susi"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Would you like to work on the issue?**

Please let us know if you can work on it or the issue should be assigned to someone else.
[code]

[2018-10-07 16:24] rupav opened #427 "Show Logout option in dropdown while the user is logged in."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**

![image](https://user-images.githubusercontent.com/20624380/46583945-41e33e80-ca7b-11e8-8e82-a886d4ff937e.png)

**Expected behavior:**

[2018-10-07 17:39] sk9331657 commented on #427
@rupav  I will work on it.

[2018-10-07 17:40] sk9331657 commented on #427
@rupav  I just checked it , it shows logout.

[2018-10-07 17:48] sk9331657 commented on #427
@rupav This can be closed.

[2018-10-08 07:21] gabru-md opened #428 "adding .idea to .gitignore file"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

Adding `.idea` folder to the `.gitignore` file so that user does not push it to the forked repository and create a PR with the same.

I am creating a PR for

[2018-10-08 11:15] rupav commented on #427
I still can reproduce this issue. Try updating your branch, use `git pull upstream master --rebase`, and then check extension on refreshing it.

[2018-10-08 11:57] #342 closed

[2018-10-08 12:43] fragm3 commented on #407
Already working on it.

[2018-10-10 06:32] #428 closed

[2018-10-10 20:09] satyamtg opened #431 "Auto expand textarea while typing a message"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Currently, the textarea has fixed width and height due to which a scrollbar comes if the message is long enough. This makes the message

[2018-10-11 03:11] #389 closed

[2018-10-13 12:39] samagragupta opened #433 "When clicked on clear chat the dark theme is also changed"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
If the Chat extension is in dark theme mode then after clicking on `clear chat` the theme is changed to normal.
![bot](https://user-ima

[2018-10-14 14:22] championpaddler opened #435 "Theme color getting distorted on using ask susi function."
**I'm submitting a ...**  (check one with "x")
- [x] bug report

**Current behavior:**

Seems like on using ask susi option in dark theme susi chat color gets triggered and this error pops.

![ezgif com-video-to-gif 21](https://user-images.githubusercontent.com/17084322/46918058-a017a080-cfea-11e8-9df6-fe9498dff2aa.gif)

**Expected behavior:**

Chat colors  should remain  same.

[code]
Ubuntu
**Wo

[2018-10-16 05:50] #433 closed

[2018-10-18 22:31] samagragupta opened #436 "In the middle of the screen there is scroll-top button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
When the scrollbar is at the middle of the screen then the scroll-top button is shown.

**Expected behavior:**
When the scrollbar is at

[2018-10-21 14:06] #394 closed

[2018-10-21 14:08] mariobehling commented on #344
Probably not needed for now.

[2018-10-21 14:08] #344 closed

[2018-10-21 17:37] #407 closed

[2018-10-21 17:37] #406 closed

[2018-10-22 18:15] #436 closed

[2018-10-22 18:16] #417 closed

[2018-10-23 06:18] sk9331657 commented on #427
@rupav  Are u still working on it or shall I make a patch for this??

[2018-10-23 10:47] rupav commented on #427
I have already written I am not working on this. Just claim and send a PR for the same

[2018-10-23 12:03] sk9331657 commented on #427
Ok :smile:

[2018-10-25 15:29] #423 closed

[2018-10-29 10:51] samagragupta opened #440 "Starting page is not appearing"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
When no message is typed. The window is not showing `Start by saying "Hi"`.

**Expected behavior:**
When no message is typed. The windo

[2018-10-30 04:51] samagragupta opened #442 "Not storing the voice settings"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Chrome is not storing the voice(speaker) settings.

**Expected behavior:**
Chrome should store the voice(speaker) settings.

Your opera

[2018-11-01 11:44] rajvaibhavdubey opened #445 "Show/Hide password in signup page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**

Show/Hide password button on signup page.

**System information:**

[code]

**Would you like to work on the issue?**
Yes

**Screenshot

[2018-11-01 11:52] rajvaibhavdubey opened #446 "susi chats lost after reopening the extension"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**

The replies by susi disappear while the user text remains.

**System information:**

[code]

**Would you like to work on the issue?**

[2018-11-02 16:28] sk9331657 opened #448 "Clear Chat is not working and fixing console error.s"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

**Current behavior:**

Clear chat option, not clearing chat.

**Expected behavior:**

Clear Chat option should clear the chat.

**Would you like to work on the issue?**

Please let us know if you can work on it or the issue should be assigned to someone else.
[code]

[2018-11-03 11:38] samagragupta commented on #446
Can I work on it?

[2018-11-03 11:39] rajvaibhavdubey commented on #446
I'm working on this. :smile:

[2018-11-03 11:50] samagragupta opened #450 "No need of 'Chat' and 'Skills' links"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
`Chat` and `Skills` links are provided at two places.
![chat](https://user-images.githubusercontent.com/32234926/47951829-4f151f80-df8c

[2018-11-03 12:02] samagragupta opened #451 "Eye-slash is not working in login page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
When initially eye is open then also password is not showing.
![eye-slash](https://user-images.githubusercontent.com/32234926/47951976-

[2018-11-03 12:08] samagragupta opened #452 "When logged in then also login option still displayed"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
When the user has logged in then also `Login` is showing in the options
![login chrome](https://user-images.githubusercontent.com/32234

[2018-11-04 03:45] samagragupta opened #453 "No need of Email text field"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
When user has logged in and trying to change the password then there is no need of email textfield

**Expected behavior:**
Email textfi

[2018-11-04 04:42] samagragupta commented on #446
If you are not able to do it, then inform me as I have done the work 😄

[2018-11-05 17:18] #381 closed

[2018-11-05 18:53] samagragupta opened #457 "Add eye in signup page"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
There is no show password button(eye) in signup page

**Expected behavior:**
Add eye feature on signup page

**Would you like to work o

[2018-11-06 10:54] neeraj3029 opened #459 "Text of change password link should vary depending upon form visibility"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
The text of the link that shows and hides password form is always "Click here to change password"

![screenshot 2018-11-06 at 4 07 37 p

[2018-11-06 11:41] neeraj3029 opened #461 "Restore default button in settings, when clicked shows warning twice instead of once."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request

**Current behavior:**
Restore default button in settings, when clicked, shows warning twice instead of once.
![current_cb](https://user-images.githubusercontent.com/31539812/48062019-c34aff80-e1e6-11e8-9e4c-09747c97e782.gif)

**Expected behavior:**

It should appear only once.

**Steps to r

[2018-11-07 15:23] neeraj3029 opened #464 "Border of surrounding box of chat is too thick"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**

Border of surrounding box of chat is too thick, which hinders the messages in top and bottom from being seen.

![screenshot 2018-11-07

[2018-11-08 04:03] samagragupta opened #466 "Add eye feature in change password form"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
There is no feature to show and hide the password.
![eye](https://user-images.githubusercontent.com/32234926/48177177-61e77580-e339-11e

[2018-11-08 04:08] samagragupta opened #467 "Minimum 6 characters required is not coming in changePassword form"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
There is no minimum 6 character required popup in change password form.

[code]

**Would you like to work on the issue?**

Yes

[2018-11-08 04:11] samagragupta opened #468 "Add padding"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
There is no space between the change password form and screen.
![chrome](https://user-images.githubusercontent.com/32234926/48177407-64

[2018-11-08 06:37] neeraj3029 commented on #468
@samagragupta In my system it looks fine.

![screenshot 2018-11-08 at 12 05 05 pm](https://user-images.githubusercontent.com/31539812/48181759-ca8d1d00-e34e-11e8-8ecf-3bdced34a55a.png)

[2018-11-08 07:21] neeraj3029 opened #469 "Validation needs to be imporved in email fields."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Validation in email fields is a bit inefficient, currently **it only cheks the presence of `@` and text before and after it.**

**Expec

[2018-11-08 15:30] sk9331657 commented on #468
@samagragupta  Space is already present.

[2018-11-08 15:32] sk9331657 commented on #467
@samagragupta Minimum six characters required is coming. Make sure your branch is up to date.

[2018-11-08 18:53] samagragupta opened #470 "Submit button should be enabled when all fields are filled"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
![validation](https://user-images.githubusercontent.com/32234926/48220538-939e2200-e3b5-11e8-8bb2-d92d2c8bcd7f.gif)

**Expected behavio

[2018-11-08 19:34] samagragupta opened #471 "Add a login page button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
There is no button to go to login page.
![recover](https://user-images.githubusercontent.com/32234926/48222704-3c9b4b80-e3bb-11e8-9754-

[2018-11-09 13:01] neeraj3029 opened #473 "Cursor should turn into pointer when hovered over eye in login form"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
Cursor does not change into pointer, but it is supposed to

**Expected behavior:**
Cursor should turn into pointer when hovered over.

[2018-11-09 15:14] neeraj3029 opened #475 "One colorpicker should close auotmatically when other is opened"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our [Gitter channel](https://gitter.im/fossasia/susi_server)

**Current behavior:**
**In Settings**, two colorpickers open simultaneously, which should not happen
**Expected behavior:**
One colorpicker should close auot